<body>
<div class="wrapper">
	<!-- :: header s :: -->
	<head th:replace="admin/include/header::admin_header"></head>
</div>
<section class="container">
	<div class="sub-top bg1">
		<div class="sub-top-con">
			<h2>구단소개</h2>
		</div>
	</div>
	<nav class="breadcrumb">
		<div class="breadcrumb-container">
			<ul class="breadcrumb-list">
				<li class="home"><span class="screen-out">홈</span></li>
				<li>
					<div class="breadcrumb-box js-dropdown">
						<button type="button" class="breadcrumb-btn js-dropdown-btn" data-dropdown="breadcrumb-dep1">
							<span>구단소개</span>
						</button>
						<div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep1">
							<ul class="breadcrumb-cont-list">
								<li><a href="/sub01_01.html">구단소개</a></li>
								<li><a href="/sub02_01.html">구단소식</a></li>
								<li><a href="/sub03_01.html">선수단</a></li>
								<li><a href="/sub04_01.html">경기정보</a></li>
								<li><a href="/sub05_01.html">팬</a></li>
								<li><a href="/sub06_01.html">유소년</a></li>
								<li><a href="/sub07_01.html">사회적협동조합</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="breadcrumb-box js-dropdown">
						<button type="button" class="breadcrumb-btn js-dropdown-btn" data-dropdown="breadcrumb-dep2">
							<span>인사말</span>
						</button>
						<div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep2">
							<ul class="breadcrumb-cont-list">
								<li><a href="/sub01_01.html">인사말</a></li>
								<li><a href="/sub01_02.html">연혁</a></li>
								<li><a href="/sub01_03.html">구단상징</a></li>
								<li><a href="/sub01_04.html">홈경기장</a></li>
								<li><a href="/sub01_05.html">스폰서</a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</section>
<div id="sub_contents">
	<div class="wrap">
		<div id="contents_area">
			<h2 class="container_title">인사말</h2>

			<div id="ctt_con" class="sub01_01">
				<section class="sec01 paragraph animatedParent" data-sequence="300">
					<div class="animated fadeInRightShort" data-id="1">
						<h2 class="pc_text01">
							<strong>춘천시민 여러분과 전국의 축구팬 여러분</strong>의<br>
							<strong>많은 관심</strong>과<strong>성원</strong>을 부탁드립니다.
						</h2>

						<h2 class="mobile_text01">
							<strong>춘천시민 여러분과 전국의 축구팬 여러분</strong>의
							<strong>많은 관심</strong>과<strong>성원</strong>을 부탁드립니다.
						</h2>
						<p class="pc_text02">
							저희 춘천시민 축구단은 춘천시민들에게 건전한 여가생활의 기회를 제공하고,<br>
							시민화합과 구심점 역할을 하기 위하여 춘천시를 연고로 하는 시민 축구단 입니다.<br>
							<br>
							춘천시민축구단은 축구단 창단의 새로운 패러다임의 기틀을 제시하고, 축구단을 투명하고,<br>
							공정하게 운영하는 동시에 철저한 비즈니스로 축구단의 재정적 자립을 위하여 최선을 다하여<br>
							성공적으로 운영함으로써  향후 창단 될 신생 구단들에게 모범이 되고자 합니다.<br>
							<br>
							저희 춘천시민축구단은 지역축구 발전을 위해, 더 많은 춘천연고 축구단 창단을 목표로 삼고<br>
							시민과 함께 호흡 할 것이며, 선수단의 지속적인 사회공헌 활동을 통하여 춘천 시민속으로<br>
							깊이 다가가는 사회적 가치를 추구하는 축구단이 되고자 노력하겠습니다.
						</p>

						<p class="mobile_text02">
							저희 춘천시민 축구단은 춘천시민들에게 건전한 여가생활의 기회를 제공하고,
							시민화합과 구심점 역할을 하기 위하여 춘천시를 연고로 하는 시민 축구단 입니다.<br>
							<br>
							춘천시민축구단은 축구단 창단의 새로운 패러다임의 기틀을 제시하고, 축구단을 투명하고,
							공정하게 운영하는 동시에 철저한 비즈니스로 축구단의 재정적 자립을 위하여 최선을 다하여
							성공적으로 운영함으로써  향후 창단 될 신생 구단들에게 모범이 되고자 합니다.<br>
							<br>
							저희 춘천시민축구단은 지역축구 발전을 위해, 더 많은 춘천연고 축구단 창단을 목표로 삼고
							시민과 함께 호흡 할 것이며, 선수단의 지속적인 사회공헌 활동을 통하여 춘천 시민속으로
							깊이 다가가는 사회적 가치를 추구하는 축구단이 되고자 노력하겠습니다.
						</p>
					</div>
					<div class="img01 animated fadeInUpShort" data-id="2">
						<img src="/img/sub/sub01_01_img01.jpg" alt=" " />
						<p>춘천시민축구단 감독<strong><span class="director_name">김경범</span></strong></p>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div th:replace="admin/include/footer::footer"></div>

</body>
