<div id="footer" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="footer">
        <div class="footer_top">
            <a href="/front/portal/privacy">개인정보처리방침</a>|
            <a href="/front/portal/terms">이용약관</a>|
            <a href="/front/portal/emailcollection">이메일무단수집거부</a>
        </div>
        <div class="footer_bottom">
            <h1><a href="/"><img src="/front/portal/img/common/footer_logo.png" alt=""></a></h1>
            <ul>
                <li>춘천시민축구단   |   대표자명 : 신도선   |   사업자등록번호 : 289-82-00477 </li>
                <li>대표번호 033-261-4734 | 등록대표메일 chuncheonmedia@naver.com</li>
                <li>대한민국 강원도 춘천시 스포츠타운길 136 춘천시종합경기장</li>
                <!--<li>TEL : 033)243-0000&nbsp;&nbsp;&nbsp;&nbsp;FAX : 033)244-0000</li>-->
                <li>COPYRIGHT ⓒCHUNCHEON FOOTBALL CLUB. All Rights Reserved.</li>
            </ul>
            <ol>
                <li><a href="https://www.facebook.com/chuncheonfootballclub/" target="_blank"><img
                        src="/front/portal/img/common/footer_sns_icon01.png" alt=""/></a></li>
                <li><a href="https://www.youtube.com/channel/UClR3HgIg3TgnCHxgdg-PSLA" target="_blank"><img
                        src="/front/portal/img/common/footer_sns_icon02.png" alt=""/></a></li>
                <li><a href="https://www.instagram.com/chuncheoncitizen_fc/" target="_blank"><img
                        src="/front/portal/img/common/footer_sns_icon03.png" alt=""/></a></li>
                <li><a href="https://blog.naver.com/chuncheonmedia" target="_blank"><img
                        src="/front/portal/img/common/footer_sns_icon04.png" alt=""/></a></li>
            </ol>
        </div>
    </div>
</div>
