<body>
<div class="wrapper">
    <!-- :: header s :: -->
    <head th:replace="include/header :: common_head(~{::title},~{::link},~{})">
        <title></title>
    </head>
</div>
<section class="container">
    <div class="sub-top bg1">
        <div class="sub-top-con">
            <h2>구단소개</h2>
        </div>
    </div>
    <nav class="breadcrumb">
        <div class="breadcrumb-container">
            <ul class="breadcrumb-list">
                <li class="home"><span class="screen-out">홈</span></li>
                <li>
                    <div class="breadcrumb-box js-dropdown">
                        <button type="button" class="breadcrumb-btn js-dropdown-btn" data-dropdown="breadcrumb-dep1">
                            <span>구단소개</span>
                        </button>
                        <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep1">
                            <ul class="breadcrumb-cont-list">
                                <li><a href="/front/portal/sub01_01">구단소개</a></li>
                                <li><a href="/front/portal/sub02_01_list">구단소식</a></li>
                                <li><a href="/front/portal/sub03_01">선수단</a></li>
                                <li><a href="/front/portal/sub04_01">경기정보</a></li>
                                <li><a href="/front/portal/sub05_01_list">팬</a></li>
                                <li><a href="/front/portal/sub06_01">유소년</a></li>
                                <li><a href="/front/portal/sub07_01">사회적협동조합</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="breadcrumb-box js-dropdown">
                        <button type="button" class="breadcrumb-btn js-dropdown-btn" data-dropdown="breadcrumb-dep2">
                            <span>연혁</span>
                        </button>
                        <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep2">
                            <ul class="breadcrumb-cont-list">
                                <li><a href="/front/portal/sub01_01">인사말</a></li>
                                <li><a href="/front/portal/sub01_02">연혁</a></li>
                                <li><a href="/front/portal/sub01_06">조직도</a></li>
                                <li><a href="/front/portal/sub01_03">구단상징</a></li>
                                <li><a href="/front/portal/sub01_04">홈경기장</a></li>
                                <li><a href="/front/portal/sub01_05">스폰서</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</section>
<div id="sub_contents">
    <div class="wrap">
        <div id="contents_area">
            <h2 class="container_title">연혁</h2>

            <div id="ctt_con" class="sub01_02">
                <div class="tab_menu">
                    <ul>
                        <li class="on"><a href="javascript:">2022~2023</a></li>
                        <li><a href="javascript:"><!--<small>새로운 도약의 시대</small>-->2017~2021</a></li>
                        <li><a href="javascript:">2012 ~ 2016</a></li>
                        <li><a href="javascript:">2009 ~ 2011</a></li>
                    </ul>
                </div>
                <div class="tab_con">
                    <section class="sec01" style="display:block">
                        <div class="history_list">
                            <ul data-sequence="300">
                                <li data-id="1">
                                    <h3>2023</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img16.png" alt=" " /></div>
                                    <ul>
                                        <li>K3리그 8위</li>
                                    </ul>
                                </li>
                                <li data-id="2">
                                    <h3>2022</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img14.png?v=20230224" alt=" " /></div>
                                    <ul>
                                        <li>K4리그 3위(K3리그 승격)</li>
                                    </ul>
                                </li>
                                <!--<li data-id="2">
                                    <h3>2020</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img12.png" alt=" " /></div>
                                    <ul>
                                        <li>K3리그 통합 15위</li>
                                    </ul>
                                </li>-->

                            </ul>
                        </div>
                    </section>



                    <section class="sec01">
                        <div class="history_list">
                            <ul data-sequence="300">
                                <li data-id="1">
                                    <h3>2021</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img13.png" alt=" " /></div>
                                    <ul>
                                        <li>K4리그 10위</li>
                                    </ul>
                                </li>
                                <li data-id="2">
                                    <h3>2020</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img12.png" alt=" " /></div>
                                    <ul>
                                        <li>K3리그 통합 15위</li>
                                    </ul>
                                </li>
                                <li data-id="3">
                                    <h3>2019</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img11.png" alt=" " /></div>
                                    <ul>
                                        <li>K3리그 ADVANCED 10위</li>
                                    </ul>
                                </li>
                                <li data-id="4">
                                    <h3>2018</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img10.png" alt=" " /></div>
                                    <ul>
                                        <li>K3리그 ADVANCED 통합 5위</li>
                                        <li>하나은행 FA컵 16강 진출</li>
                                    </ul>
                                </li>
                                <li data-id="5">
                                    <h3>2017</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img09.png" alt=" " /></div>
                                    <ul>
                                        <li>K3리그 ADVANCED 통합 10위</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="sec01">
                        <div class="history_list">
                            <ul data-sequence="300">
                                <li data-id="1">
                                    <h3>2016</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img08.png" alt=" " /></div>
                                    <ul>
                                        <li>K3리그 통합 8위</li>
                                    </ul>
                                </li>
                                <li data-id="1">
                                    <h3>2015</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img07.png" alt=" " /></div>
                                    <ul>
                                        <li>K3리그 통합 9위</li>
                                    </ul>
                                </li>
                                <li data-id="1">
                                    <h3>2014</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img06.png" alt=" " /></div>
                                    <ul>
                                        <li>챌린저스리그 통합 6위</li>
                                    </ul>
                                </li>
                                <li class="animated fadeInUpShort" data-id="2">
                                    <h3>2013</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img05.png" alt=" " /></div>
                                    <ul>
                                        <li>챌린저스리그 통합 9위</li>
                                    </ul>
                                </li>
                                <li class="animated fadeInUpShort" data-id="3">
                                    <h3>2012</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img04.png" alt=" " /></div>
                                    <ul>
                                        <li>챌린저스리그 통합 2위</li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </section>

                    <section class="sec01">
                        <div class="history_list">
                            <ul data-sequence="300">
                                <li data-id="1">
                                    <h3>2011</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img03.png" alt=" "/></div>
                                    <ul>
                                        <li>챌린저스리그 통합 4위</li>
                                    </ul>
                                </li>
                                <li data-id="2">
                                    <h3>2010</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img02.png" alt=" " /></div>
                                    <ul>
                                        <li>K3리그 통합 15위</li>
                                    </ul>
                                </li>
                                <li data-id="3">
                                    <h3>2009</h3>
                                    <div class="img"><img src="/front/portal/img/sub/sub01_02_img01.png" alt=" "/></div>
                                    <ul>
                                        <li>춘천시민축구단 창단</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="include/footer::footer"></div>
<script>
    $(function () {
        var tab = $('.tab_menu ul');
        var tabMenu = tab.find('> li');
        var contents = $('.tab_con > section');

        tabMenu.on('click', function () {
            tabMenu.removeClass('on');
            $(this).addClass('on');
            contents.css('display', 'none');
            var i = $(this).index();
            contents.eq(i).css('display', 'block');
        });
    });
</script>

</body>
