<body>
<div class="wrapper">
    <!-- :: header s :: -->
    <head th:replace="include/header :: common_head(~{::title},~{::link},~{})">
        <title></title>
    </head>
</div>
<section class="container">
    <div class="sub-top bg3">
        <div class="sub-top-con">
            <h2>선수단</h2>
        </div>
    </div>
    <nav class="breadcrumb">
        <div class="breadcrumb-container">
            <ul class="breadcrumb-list">
                <li class="home"><span class="screen-out">홈</span></li>
                <li>
                    <div class="breadcrumb-box js-dropdown">
                        <button type="button" class="breadcrumb-btn js-dropdown-btn" data-dropdown="breadcrumb-dep1">
                            <span>구단소개</span>
                        </button>
                        <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep1">
                            <ul class="breadcrumb-cont-list">
                                <li><a href="/front/portal/sub01_01">구단소개</a></li>
                                <li><a href="/front/portal/sub02_01_list">구단소식</a></li>
                                <li><a href="/front/portal/sub03_01">선수단</a></li>
                                <li><a href="/front/portal/sub04_01">경기정보</a></li>
                                <li><a href="/front/portal/sub05_01_list">팬</a></li>
                                <li><a href="/front/portal/sub06_01">유소년</a></li>
                                <li><a href="/front/portal/sub07_01">사회적협동조합</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="breadcrumb-box js-dropdown">
                        <button type="button" class="breadcrumb-btn js-dropdown-btn" data-dropdown="breadcrumb-dep2">
                            <span>선수단</span>
                        </button>
                        <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep2">
                            <ul class="breadcrumb-cont-list">
                                <li><a href="/front/portal/sub03_01">코칭스탭</a></li>
                                <li><a href="/front/portal/sub03_02">선수</a></li>
								<li><a href="/front/portal/sub03_03">등번호</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</section>
<div id="sub_contents">
    <div class="wrap">
        <div id="contents_area">
            <h2 class="container_title">선수</h2>

            <div id="ctt_con" class="sub01_01">
                <div class="player">
                    <div class="tab-basic">
                        <ul>
                            <li><a href="/front/portal/sub03_02">GK</a></li>
                            <li><a href="/front/portal/sub03_02_01">FW</a></li>
                            <li><a href="/front/portal/sub03_02_02">MF</a></li>
                            <li class="active"><a href="/front/portal/sub03_02_03">DF</a></li>
                        </ul>
                    </div>
					<div class="player-list">
						<div class="p_item">
							<p class="thumbnail"><img src="/front/portal/img/sub/2024_squad/DF_02.png" alt="이남규" /></p>
							<dl class="profile">
								<dt>
									<i>2</i>
									이남규
								</dt>
								<dd>
									<strong>포지션 : </strong>DF
								</dd>
								<dd>
									<strong>등번호 : </strong>2
								</dd>
								<dd>
									<strong>전소속팀 : </strong>파주시민구단
								</dd>
							</dl>
						</div>
						<div class="p_item">
							<p class="thumbnail"><img src="/front/portal/img/sub/2024_squad/DF_03.png" alt="이재현" /></p>
							<dl class="profile">
								<dt>
									<i>3</i>
									이재현
								</dt>
								<dd>
									<strong>포지션 : </strong>DF
								</dd>
								<dd>
									<strong>등번호 : </strong>3
								</dd>
								<dd>
									<strong>전소속팀 : </strong>춘천시민구단

								</dd>
							</dl>
						</div>
						<div class="p_item">
							<p class="thumbnail"><img src="/front/portal/img/sub/2024_squad/DF_05.png" alt="이도현" /></p>
							<dl class="profile">
								<dt>
									<i>5</i>
									이도현
								</dt>
								<dd>
									<strong>포지션 : </strong>DF
								</dd>
								<dd>
									<strong>등번호 : </strong>5
								</dd>
								<dd>
									<strong>전소속팀 : </strong>강릉시민구단

								</dd>
							</dl>
						</div>
						<div class="p_item">
							<p class="thumbnail"><img src="/front/portal/img/sub/2024_squad/DF_06.png" alt="김호영" /></p>
							<dl class="profile">
								<dt>
									<i>6</i>
									김호영
								</dt>
								<dd>
									<strong>포지션 : </strong>DF
								</dd>
								<dd>
									<strong>등번호 : </strong>6
								</dd>
								<dd>
									<strong>전소속팀 : </strong>춘천시민구단

								</dd>
							</dl>
						</div>
						<div class="p_item">
							<p class="thumbnail"><img src="/front/portal/img/sub/2024_squad/DF_15.png" alt="조우현" /></p>
							<dl class="profile">
								<dt>
									<i>15</i>
									조우현
								</dt>
								<dd>
									<strong>포지션 : </strong>DF
								</dd>
								<dd>
									<strong>등번호 : </strong>15
								</dd>
								<dd>
									<strong>전소속팀 : </strong>당진시민구단

								</dd>
							</dl>
						</div>
						<div class="p_item">
							<p class="thumbnail"><img src="/front/portal/img/sub/2024_squad/DF_19.png" alt="박재민" /></p>
							<dl class="profile">
								<dt>
									<i>19</i>
									박재민
								</dt>
								<dd>
									<strong>포지션 : </strong>DF
								</dd>
								<dd>
									<strong>등번호 : </strong>19
								</dd>
								<dd>
									<strong>전소속팀 : </strong>중랑FC

								</dd>
							</dl>
						</div>
						<div class="p_item">
							<p class="thumbnail"><img src="/front/portal/img/sub/2024_squad/DF_20.png" alt="허창수" /></p>
							<dl class="profile">
								<dt>
									<i>20</i>
									허창수
								</dt>
								<dd>
									<strong>포지션 : </strong>DF
								</dd>
								<dd>
									<strong>등번호 : </strong>20
								</dd>
								<dd>
									<strong>전소속팀 : </strong>춘천시민구단
								</dd>
							</dl>
						</div>
						<div class="p_item">
							<p class="thumbnail"><img src="/front/portal/img/sub/2024_squad/DF_22.png" alt="박성원" /></p>
							<dl class="profile">
								<dt>
									<i>22</i>
									박성원
								</dt>
								<dd>
									<strong>포지션 : </strong>DF
								</dd>
								<dd>
									<strong>등번호 : </strong>22
								</dd>
								<dd>
									<strong>전소속팀 : </strong>상지대학교
								</dd>
							</dl>
						</div>
						<div class="p_item">
							<p class="thumbnail"><img src="/front/portal/img/sub/2024_squad/DF_23.png" alt="곽래승" /></p>
							<dl class="profile">
								<dt>
									<i>23</i>
									곽래승
								</dt>
								<dd>
									<strong>포지션 : </strong>DF
								</dd>
								<dd>
									<strong>등번호 : </strong>23
								</dd>
								<dd>
									<strong>전소속팀 : </strong>파주시민구단
								</dd>
							</dl>
						</div>
						<!-- <div class="p_item">
							<p class="thumbnail"><img src="/front/portal/img/sub/2024_squad/DF_27.png" alt="현정인" /></p>
							<dl class="profile">
								<dt>
									<i>27</i>
									현정인
								</dt>
								<dd>
									<strong>포지션 : </strong>DF
								</dd>
								<dd>
									<strong>등번호 : </strong>27
								</dd>
								<dd>
									<strong>전소속팀 : </strong>이랜드FC U_18
								</dd>
							</dl>
						</div>-->
						<div class="p_item">
							<p class="thumbnail"><img src="/front/portal/img/sub/2024_squad/DF_30.png" alt="임찬열" /></p>
							<dl class="profile">
								<dt>
									<i>30</i>
									임찬열
								</dt>
								<dd>
									<strong>포지션 : </strong>DF
								</dd>
								<dd>
									<strong>등번호 : </strong>30
								</dd>
								<dd>
									<strong>전소속팀 : </strong>용인대학교
								</dd>
							</dl>
						</div>
						<div class="p_item">
							<p class="thumbnail"><img src="/front/portal/img/sub/2024_squad/DF_33.png" alt="이지환" /></p>
							<dl class="profile">
								<dt>
									<i>33</i>
									이지환
								</dt>
								<dd>
									<strong>포지션 : </strong>DF
								</dd>
								<dd>
									<strong>등번호 : </strong>33
								</dd>
								<dd>
									<strong>전소속팀 : </strong>강릉시민구단
								</dd>
							</dl>
						</div>
						<div class="p_item">
							<p class="thumbnail"><img src="/front/portal/img/sub/2024_squad/DF_34.png" alt="김기수" /></p>
							<dl class="profile">
								<dt>
									<i>34</i>
									김기수
								</dt>
								<dd>
									<strong>포지션 : </strong>DF
								</dd>
								<dd>
									<strong>등번호 : </strong>34
								</dd>
								<dd>
									<strong>전소속팀 : </strong>PSMS 메단
								</dd>
							</dl>
						</div>
						<div class="p_item">
							<p class="thumbnail"><img src="/front/portal/img/sub/2024_squad/DF_49.png" alt="이준호" /></p>
							<dl class="profile">
								<dt>
									<i>49</i>
									이준호
								</dt>
								<dd>
									<strong>포지션 : </strong>DF
								</dd>
								<dd>
									<strong>등번호 : </strong>49
								</dd>
								<dd>
									<strong>전소속팀 : </strong>수원FC U_18
								</dd>
							</dl>
						</div>
						<div class="p_item">
							<p class="thumbnail"><img src="/front/portal/img/sub/2024_squad/DF_66.png" alt="이재근" /></p>
							<dl class="profile">
								<dt>
									<i>66</i>
									이재근
								</dt>
								<dd>
									<strong>포지션 : </strong>DF
								</dd>
								<dd>
									<strong>등번호 : </strong>66
								</dd>
								<dd>
									<strong>전소속팀 : </strong>연세대학교
								</dd>
							</dl>
						</div>

					</div>
                </div>
            </div>
            <!-- :: sub contents e :: -->
        </div>
    </div>
</div>
<div th:replace="include/footer::footer"></div>
</body>

