<body>
<div class="wrapper">
    <!-- :: header s :: -->
    <head th:replace="include/header :: common_head(~{::title},~{::link},~{})">
        <title></title>
    </head>
</div>
<div id="sub0205list">
    <section class="container">
        <div class="sub-top bg2">
            <div class="sub-top-con">
                <h2>구단소식</h2>
            </div>
        </div>
        <nav class="breadcrumb">
            <div class="breadcrumb-container">
                <ul class="breadcrumb-list">
                    <li class="home"><span class="screen-out">홈</span></li>
                    <li>
                        <div class="breadcrumb-box js-dropdown">
                            <button type="button" class="breadcrumb-btn js-dropdown-btn"
                                    data-dropdown="breadcrumb-dep1">
                                <span>구단소식</span>
                            </button>
                            <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep1">
                                <ul class="breadcrumb-cont-list">
                                    <li><a href="/front/portal/sub01_01">구단소개</a></li>
                                    <li><a href="/front/portal/sub02_01_list">구단소식</a></li>
                                    <li><a href="/front/portal/sub03_01">선수단</a></li>
                                    <li><a href="/front/portal/sub04_01">경기정보</a></li>
                                    <li><a href="/front/portal/sub05_01_list">팬</a></li>
                                    <li><a href="/front/portal/sub06_01">유소년</a></li>
                                    <li><a href="/front/portal/sub07_01">사회적협동조합</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="breadcrumb-box js-dropdown">
                            <button type="button" class="breadcrumb-btn js-dropdown-btn"
                                    data-dropdown="breadcrumb-dep2">
                                <span>협약</span>
                            </button>
                            <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep2">
                                <ul class="breadcrumb-cont-list">
                                    <li><a href="/front/portal/sub02_01_list">공지사항</a></li>
                                    <li><a href="/front/portal/sub02_02_list">사진자료</a></li>
                                    <li><a href="/front/portal/sub02_03_list">동영상자료</a></li>
                                    <li><a href="/front/portal/sub02_04_list">관련기사</a></li>
                                    <li><a href="/front/portal/sub02_05_list">협약</a></li>
                                    <li><a href="/front/portal/sub02_06_list">마케터</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <div id="sub_contents">
        <div class="wrap">
            <div id="contents_area">
                <h2 class="container_title">협약</h2>
                <!-- 게시판 목록 시작 { -->
                <div id="bo_gall" style="padding-bottom:40px;">
                    <div id="bo_btn_top">
                        <div id="bo_list_total">
                            <span><i class="fa fa-file-o" aria-hidden="true"></i> Total {{total}} /</span>
                            {{params.current}} page
                        </div>

                        <ul class="btn_bo_user">
                            <li v-if="hasPrivilege('sub02_05_list_upload')"><a @click="goAdmin" class="btn_admin btn"><i
                                    class="fa fa-user-circle-o"
                                    aria-hidden="true"></i> 관리자</a>
                            </li>
                            <li v-if="hasPrivilege('sub02_05_list_write')"><a @click="goCreate" class="btn_b02 btn"><i
                                    class="fa fa-pencil-square-o"
                                    aria-hidden="true"></i>
                                글쓰기</a>
                            </li>
                        </ul>
                    </div>
                    <!-- 게시판 목록 시작 { -->
                    <div v-if="hasPrivilege('sub02_05_list_upload')">
                        <input type="checkbox" id="allcheck" @change="triggle">
                        <label for="chkall">전체 선택</label><br><br>
                    </div>
                    <ul id="gall_ul" class="gall_row" v-for="val in 3">
                        <li class="gall_li col-gn-4 gallWST" v-for="(item,index) in pageData.records"
                            :key="index"
                            v-if="index < val * 4 && index >= (val -1) * 4"
                        >
                            <div class="gall_box">
                                <div v-if="hasPrivilege('sub02_05_list_upload')" class="gall_chk">
                                    <input type="checkbox" name="articleCheckbox" :value="item.id">
                                </div>
                                <div class="gall_con">
                                    <div class="gall_boxa" @click="goDetail(item.id)">
                                        <a>
                                            <em class="iconPs bo_tit" v-show="item.newArticle"><span
                                                    class="new_icon">N</span>
                                            </em>
                                            <i class="imgAr">
                                                <img :src="item.imgUrl" alt="">
                                            </i>
                                            <em class="gall_info">
                                                <i class="fa fa-eye" aria-hidden="true"></i> {{item.count}}
                                                <span class="gall_date">
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i> {{item.created}}
                                                </span>
                                                <u></span>{{item.author}}</u>
                                            </em>
                                        </a>
                                    </div>
                                    <div class="gall_text_href">
                                        <a @click="goDetail(item.id)" class="bo_tit">
                                            {{item.title}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="bo_fx">
                        <ul class="btn_bo_user">
                            <li v-if="hasPrivilege('sub02_05_list_upload')">
                                <button type="button" name="btn_submit" value="선택삭제"
                                        @click="delById"
                                        class="btn btn_admin"><i class="fa fa-trash-o" aria-hidden="true"></i> 선택삭제
                                </button>
                            </li>
<!--                            <li v-if="hasPrivilege('sub02_05_list_upload')">-->
<!--                                <button type="button" name="btn_submit" value="선택복사"-->
<!--                                        @click="move('copy')"-->
<!--                                        class="btn btn_admin"><i class="fa fa-files-o" aria-hidden="true"></i> 선택복사-->
<!--                                </button>-->
<!--                            </li>-->
<!--                            <li v-if="hasPrivilege('sub02_05_list_upload')">-->
<!--                                <button type="button" name="btn_submit" value="선택이동"-->
<!--                                        @click="move('move')"-->
<!--                                        class="btn btn_admin"><i class="fa fa-arrows" aria-hidden="true"></i> 선택이동-->
<!--                                </button>-->
<!--                            </li>-->
                            <li v-if="hasPrivilege('sub02_05_list_write')">
                                <a @click="goCreate" class="btn_b02 btn"><i
                                        class="fa fa-pencil" aria-hidden="true"></i> 글쓰기
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 게시판 검색 시작 { -->
                    <fieldset id="bo_sch">
                        <legend>게시물 검색</legend>
                        <form name="fsearch" @submit.prevent=''>
                            <input type="hidden">
                            <input type="hidden">
                            <input type="hidden">
                            <select name="sfl" id="sfl" v-model="selectMode">
                                <option :value="0">제목+내용</option>
                                <option :value="1">제목</option>
                                <option :value="2">내용</option>
                                <option :value="3">작성자</option>
                            </select>
                            <input type="text" name="stx" value="" required id="stx"
                                   class="sch_input" size="25"
                                   maxlength="20"
                                   placeholder="검색어를 입력해주세요"
                                   v-model="seachParam"
                                   @keyup.enter="pageSearch"
                            >
                            <button type="button" value="검색" class="sch_btn" @click="pageSearch">
                                <i class="fa fa-search"
                                   aria-hidden="true"></i><span
                                    class="sound_only"></span></button>
                        </form>
                    </fieldset>
                    <!-- } 게시판 검색 끝 -->
                </div>
                <!-- 페이지 -->
                <nav class="pg_wrap">
                    <el-pagination
                            layout="prev, pager, next"
                            :total="total"
                            :current-page="params.current"
                            :page-size="params.size"
                            @current-change="changePage"
                    >
                    </el-pagination>
                </nav>
            </div>
        </div>
    </div>
</div>
<div th:replace="include/footer::footer"></div>
</body>

<script type="text/javascript">
    Date.prototype.format = function (fmt) {
        let o = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "h+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),
            "S": this.getMilliseconds()
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for (const k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    }
    new Vue({
        el: "#sub0205list",
        data: {
            currentMenuId: 0,
            seachParam: '',
            selectMode: 0,
            privileges: [],
            token: '',
            checkList: [],
            pageData: [],
            total: 0,
            params: {
                current: 1,
                size: 4,
                title: '',
                content: '',
                author: '',
                titleOrContent: '',
                userId: '',
                authorId: '',
                type: 5
            }
        },
        methods: {
            goAdmin(id) {
                localStorage.setItem('menu2_1_1', this.currentMenuId)
                window.location = "/front/admin/menu2_1_1"
            },
            getPrivileges() {
                let uri = window.location.pathname
                let privilegesData = localStorage.getItem("privilegesMap")
                let allPrivileges = JSON.parse(privilegesData) || []
                let privileges = allPrivileges[uri]
                if (privileges) {
                    privileges.forEach((item, index) => {
                        this.privileges.push(item.name)
                    })
                }
                console.log('this.privileges', this.privileges)
            },
            hasPrivilege(name) {
                return this.privileges.indexOf(name) !== -1
            },
            // goCreate() {
            //     localStorage.removeItem('sub02_05_write')
            //     window.location = '/front/portal/sub02_05_write'
            // },
            triggle() {
                let allcheck = document.getElementById("allcheck")
                let inputs = document.getElementsByName("articleCheckbox");
                for (let i = 0; i < inputs.length; i++) {
                    inputs[i].checked = allcheck.checked;
                }
            },
            goCreate() {
                // 判断是编辑还是新增
                let list = []
                let inputs = document.getElementsByName("articleCheckbox");
                for (let i = 0; i < inputs.length; i++) {
                    if (inputs[i].checked) {
                        list.push(inputs[i])
                    }
                }
                if (list.length === 0) {
                    localStorage.removeItem('sub02_05_write')
                    window.location = '/front/portal/sub02_05_write'
                } else if (list.length === 1) {
                    let checkedId = list[0].value
                    localStorage.setItem('sub02_03_write', checkedId)
                    window.location = '/front/portal/sub02_05_write'

                } else {
                    this.$notify({
                        title: '알림',
                        message: '하나만 선택해서 편집하세요',
                        type: 'warning'
                    });
                }

            },
            delById() {
                let inputs = document.getElementsByName("articleCheckbox");
                let ids = []
                for (let i = 0; i < inputs.length; i++) {
                    if (inputs[i].checked) {
                        ids.push(inputs[i].value)
                    }
                }
                let idsJoin = ids.join(",")
                if (!idsJoin) {
                    this.$notify({
                        title: '알림',
                        message: '삭제할 내용을 선택하세요',
                        type: 'warning'
                    });
                    return
                }
                axios.delete('/portal/article', {
                    params: {
                        ids: idsJoin
                    }, headers: {
                        'Authorization': this.token
                    }
                }).then(res => {
                    this.$notify({
                        title: '알림',
                        message: '삭제 성공',
                        type: 'success'
                    });
                    window.location.reload()
                })
            },
            goDetail(id) {
                if(this.privileges.indexOf('sub02_05_list_read') == -1){
                    this.$notify({
                        title: '경고',
                        message: '권한이 없습니다!',
                        type: 'warning'
                    })
                    window.location(-1)
                }
                localStorage.setItem('sub02_05_view', id)
                window.location = '/front/portal/sub02_05_view'
            },
            pageSearch() {
                this.params.current = 1
                this.search()
            },
            changePage(val) {
                this.params.current = val
                this.search()
            },
            clearParam() {
                this.params.title = ''
                this.params.content = ''
                this.params.author = ''
                this.params.titleOrContent = ''
            },
            getCurrentMenuId() {
                let uri = window.location.pathname
                // 判断登录是否失效
                axios.get('/menu/getByUri', {
                    headers: {
                        'Authorization': this.token
                    }, params: {
                        uri: uri
                    }
                }).then(res => {
                    console.log('res', res)
                    this.currentMenuId = res.data.data.id
                }).catch(err => {
                    console.log(err)
                });
            },
            search() {
                switch (this.selectMode) {
                    case 0:
                        this.clearParam()
                        this.params.titleOrContent = this.seachParam
                        break
                    case 1:
                        this.clearParam()
                        this.params.title = this.seachParam
                        break;
                    case 2:
                        this.clearParam()
                        this.params.content = this.seachParam
                        break;
                    case 3:
                        this.clearParam()
                        this.params.author = this.seachParam
                        break;
                }
                axios.get('/portal/article', {
                    params: this.params,
                    headers: {
                        'Authorization': this.token
                    }
                }).then(res => {
                    this.pageData = res.data.data
                    this.pageData.records.forEach((item, index) => {
                        item.created = new Date(item.created).format('yy-MM-dd')
                    })
                    this.total = this.pageData.total
                    console.log(this.pageData)
                })
            }
        },
        mounted() {
            this.pageSearch()
            this.getPrivileges()
            this.getCurrentMenuId()
        }, created() {
            let loginUserStr = localStorage.getItem('login_user')
            if (loginUserStr) {
                let loginUser = JSON.parse(loginUserStr)
                this.token = loginUser.data.token || ''
            }
        }, watch: {}
    })
</script>
<style>
    .el-pager li.active {
        color: #fd9602;
    }
</style>
