<body>
	<div class="wrapper">
		<!-- :: header s :: -->
		<head th:replace="include/header :: common_head(~{::title},~{::link},~{})">
	</div>
	<section class="container">
		<div class="sub-top bg3">
			<div class="sub-top-con">
				<h2>선수단</h2>
			</div>
		</div>
		<nav class="breadcrumb">
			<div class="breadcrumb-container">
				<ul class="breadcrumb-list">
					<li class="home"><span class="screen-out">홈</span></li>
					<li>
						<div class="breadcrumb-box js-dropdown">
							<button type="button" class="breadcrumb-btn js-dropdown-btn" data-dropdown="breadcrumb-dep1">
								<span>선수단</span>
							</button>
							<div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep1">
								<ul class="breadcrumb-cont-list">
									<li><a href="/front/portal/sub01_01">구단소개</a></li>
									<li><a href="/front/portal/sub02_01_list">구단소식</a></li>
									<li><a href="/front/portal/sub03_01">선수단</a></li>
									<li><a href="/front/portal/sub04_01">경기정보</a></li>
									<li><a href="/front/portal/sub05_01_list">팬</a></li>
									<li><a href="/front/portal/sub06_01">유소년</a></li>
									<li><a href="/front/portal/sub07_01">사회적협동조합</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<div class="breadcrumb-box js-dropdown">
							<button type="button" class="breadcrumb-btn js-dropdown-btn" data-dropdown="breadcrumb-dep2">
								<span>선수</span>
							</button>
							<div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep2">
								<ul class="breadcrumb-cont-list">
									<li><a href="/front/portal/sub03_01">코칭스탭</a></li>
									<li><a href="/front/portal/sub03_02">선수</a></li>
									<li><a href="/front/portal/sub03_03">등번호</a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</section>
	<div id="sub_contents">
		<div class="wrap">
			<div id="contents_area">
				<h2 class="container_title">등번호</h2>

				<img src="/front/portal/img/sub/back_numbers.jpg" style="margin-bottom:20px;" alt="등번호">

				
				<!-- :: sub contents e :: -->
			</div>
		</div>
	</div>

		<div th:replace="include/footer::footer"></div>

</body>
