<body>
<div class="wrapper">
    <!-- :: header s :: -->
    <head th:replace="include/header :: common_head(~{::title},~{::link},~{})">
        <title></title>
    </head>
</div>
<div id="subRegister">
    <section class="container">
        <div class="sub-top bg1">
            <div class="sub-top-con">
                <h2>회원가입</h2>
            </div>
        </div>
        <nav class="breadcrumb">
            <div class="breadcrumb-container">
                <ul class="breadcrumb-list">
                    <li class="home"><span class="screen-out">홈</span></li>
                    <li>
                        <div class="breadcrumb-box js-dropdown">
                            <button type="button" class="breadcrumb-btn js-dropdown-btn"
                                    data-dropdown="breadcrumb-dep1">
                                <span>구단소개</span>
                            </button>
                            <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep1">
                                <ul class="breadcrumb-cont-list">
                                    <li><a href="/front/portal/sub01_01">구단소개</a></li>
                                    <li><a href="/front/portal/sub02_01_list">구단소식</a></li>
                                    <li><a href="/front/portal/sub03_01">선수단</a></li>
                                    <li><a href="/front/portal/sub04_01">경기정보</a></li>
                                    <li><a href="/front/portal/sub05_01_list">팬</a></li>
                                    <li><a href="/front/portal/sub06_01">유소년</a></li>
                                    <li><a href="/front/portal/sub07_01">사회적협동조합</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="breadcrumb-box js-dropdown">
                            <button type="button" class="breadcrumb-btn js-dropdown-btn"
                                    data-dropdown="breadcrumb-dep2">
                                <span>회원가입</span>
                            </button>
                            <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep2">
                                <ul class="breadcrumb-cont-list">
                                    <li><a href="/front/portal/sub_register">회원가입</a></li>
                                    <li><a href="/front/portal/member_register_form">회원정보수정</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <div id="sub_contents">
        <div class="wrap">
            <div id="contents_area">
                <h2 class="container_title">회원가입약관</h2>

                <div id="ctt_con" class="sub01_01">
                    <div>
                        <form name="fregister" id="fregister">
                            <p>회원가입약관 및 개인정보처리방침안내의 내용에 동의하셔야 회원가입 하실 수 있습니다.</p>
                            <div id="fregister_chkall">
                                <label><b>모두동의</b> <input type="checkbox" name="chk_all" value="1"
                                                          id="chk_all" @change="triggle"></label>
                            </div>
                            <section id="fregister_term">
                                <h2><i class="fa fa-check" aria-hidden="true"></i> 회원가입약관</h2>
                                <textarea>
제1장 총 칙
제1조(목적)
춘천시민축구단 웹사이트에 게시된 이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며, 이를 위반시 정보통신망법에 의해 형사처벌됨을 유념하시기 바랍니다.

제2조(정의)
이 약관에서 사용하는 용어의 정의는 다음 각호와 같습니다.
1. 회원 : 이용자 아이디(ID)를 부여받은 자
2. ID : 이용자가 신청하여 구단이 승인하는 문자 또는 숫자의 고유 조합
3. 비밀번호 : 계정보호를 위해 회원 자신이 설정한 문자, 숫자의 조합

제3조(효력의 발생과 변경)
① 이 약관의 내용은 구단의 홈페이지 화면에 게시하거나 기타의 방법으로 공지함으로써 효력이 발생됩니다.
② 구단은 이 약관을 변경할 수 있으며, 변경된 약관은 이용자에게 공지함으로써 효력이 발생됩니다.

제4조(준용규정)
이 약관에 명시되지 않은 사항은 개인정보 보호법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 통신비밀보호법, 전기통신 기본법 등 기타 관련법령의 규정에 따릅니다.

제2장 홈페이지 회원제 서비스 이용계약
제5조(이용계약의 성립)
구단 홈페이지 회원제 서비스 이용계약(회원가입)은 이용자의 이용신청(회원가입 신청)에 대한 구단의 승낙과 이용자의 약관 내용에 대한 동의로 성립됩니다.

제6조(이용신청)
이용신청은 이용자가 직접 구단 홈페이지를 통하여 구단에서 정한 가입신청서에 기록하여 신청할 수 있습니다. 단, 만 14세 미만인 이용자는 홈페이지 회원제 서비스 이용신청이 불가합니다.

제7조(이용신청의 승낙)
① 구단은 이용자가 홈페이지 이용 신청서에 다음 필수입력 사항을 정확히 기재하여 이용신청을 하였을 경우에 승낙합니다.
1) 이름(성명)
2) 아이디(ID)
3) 비밀번호(password)
4) 우편번호
5) 주소
6) 휴대전화번호
7) 이메일
② 구단은 다음 각호의 1에 해당하는 경우에는 이용 승낙을 하지 않을 수 있습니다.
1. 이용신청의 내용을 허위로 기재한 경우
2. 다른 사람의 명의를 사용하여 신청한 경우
3. 필수 요건에 미비 되었을 때
4. 만 14세 미만인 이용자가 이용신청한 경우

제8조(계약사항의 변경)
회원은 이용신청 시 기재한 사항이 변경되었을 경우에는 직접 구단 홈페이지를 통하여 수정 요청을 할 수 있습니다.

제3장 계약당사자의 의무
제9조(구단의 의무)
구단은 홈페이지 회원제 서비스 제공과 관련하여 알게 된 회원의 신상 정보를 본인의 승낙 없이 제3자에게 누설하거나 제공하거나 배포하지 않습니다. 단, 전기통신기본법 등 법률의 규정에 의해 국가기관의 요구가 있는 경우, 범죄에 대한 수사상의 목적이 있거나 또는 기타 관계법령에서 정한 절차에 의한 요청이 있을 경우에는 그러하지 않습니다.

제10조(회원의 의무)
① 회원은 회원가입 시 실명확인에 필요한 일정한 정보의 제공과 활용에 동의하여야 하며 서비스 이용 시 아래 각호의 행위를 할 수 없습니다.
1. 다른 회원의 ID를 부정하게 사용하는 행위
2. 서비스에서 얻은 정보를 복제, 출판 또는 제3자에게 제공하는 행위
3. 구단의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 행위
4. 공공질서 및 미풍양속에 위반되는 내용을 유포하는 행위
5. 범죄와 결부된다고 객관적으로 판단되는 행위
6. 기타 관계법령에 위반되는 행위
② 회원은 서비스를 이용하여 영업활동을 할 수 없으며, 영업활동에 이용하여 발생한 결과에 대하여 구단은 책임을 지지 않습니다.
③ 회원은 서비스의 이용권한, 기타 이용계약상 지위를 타인에게 양도하거나 증여할 수 없으며, 이를 담보로도 제공할 수 없습니다.
제4장 서비스 이용
제11조(회원의 게시물 관리 및 삭제)
구단은 원활한 홈페이지 운영을 위하여 다음 각호의 1에 해당하는 회원의 게시물에 대해서는 사전 통지 없이 삭제할 수 있습니다.
1. 국가안전이나 보안에 위배되는 경우
2. 특정기관, 단체, 부서를 근거없이 비난하는 경우
3. 구단 구성원(선수단, 코칭스태프 등)을 포함한 특정인을 비방하거나 명예훼손의 우려가 있는 경우
4. 영리목적의 상업성 광고, 저작권을 침해할 수 있는 내용
5. 욕설, 음란물 등 불건전한 내용
6. 똑같은 내용을 주 2회 이상 게시하거나 비슷한 내용을 1일 2회 이상 게시하는 경우
7. 기타 연습성, 오류, 장난성의 내용 등

제12조(홈페이지 내 콘텐츠의 저작권)
회원 본인이 게재한 게시물을 제외한 구단 홈페이지 내 모든 콘텐츠의 저작권은 구단에 있으며 회원은 이를 구단의 사전 승낙 없이 가공, 변조, 판매하는 등의 행위를 할 수 없습니다.

제13조(서비스 이용시간)
홈페이지 서비스의 이용은 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴 1일 24시간을 원칙으로 합니다. 다만 정기 점검 등의 사유 발생 시는 그러하지 않습니다.

제14조(서비스 이용 책임)
구단 홈페이지 서비스 이용 및 이용의 결과와 관련하여 구단에 책임을 돌릴 정당한 사유가 없는 한 모든 법적 책임은 회원 본인에게 있습니다.

제15조(서비스 제공의 중지)
다음 각호의 1에 해당하는 경우에는 서비스 제공을 중지할 수 있습니다.
1. 서비스용 설비의 보수 등 공사로 인한 부득이한 경우
2. 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우
3. 시스템 점검이 필요한 경우
4. 기타 불가항력적 사유가 있는 경우

제16조 (개인정보 수집·이용 및 처리위탁에 대한 동의)
① 회원의 개인정보는 법률에 의해 보호됩니다.
② 회원이 본 약관에 따라 이용신청(회원가입 신청)을 하는 것은 개인정보의 수집·이용과 개인정보 처리위탁에 동의하는 것으로 간주됩니다.
제5장 계약 해지 및 이용제한
제17조(계약해지 및 이용제한)
① 회원이 이용계약을 해지하고자 하는 때에는 회원 본인이 직접 구단 홈페이지를 통하여 해지신청(회원탈퇴)을 하여야 하며, 구단에서는 본인여부를 확인 후 조치합니다.
② 구단은 회원이 다음 각호의 1에 해당하는 행위를 하였을 경우 사전 통지없이 이용계약을 해지(강제탈퇴 처리)하거나 또는 회원의 서비스 이용을 중지할 수 있습니다.
1. 타인의 이용자 ID 및 비밀번호를 도용한 경우
2. 서비스 운영을 고의로 방해한 경우
3. 허위로 가입 신청을 한 경우
4. 공공질서 및 미풍양속에 저해되는 내용을 유포시킨 경우
5. 타인의 명예를 손상시키거나 불이익을 주는 행위를 한 경우
6. 구단 또는 다른 회원이나 제3자의 지적재산권을 침해하는 경우
7. 게시판 등에 음란물을 게재하거나 음란 사이트를 링크하는 경우
8. 기타 관련법령에 위반된다고 판단되는 경우

제6장 면 책
제18조(면책 조항)
① 구단은 회원이 서비스를 이용하여 얻은 정보 및 자료 등에 대하여 책임을 지지 않습니다.
② 구단은 회원이 게재한 정보, 자료, 사실의 신뢰도, 정확성 등 기타 어떠한 내용에 관하여서도 책임을 지지 않습니다. ③ 구단은 회원의 불법행위로 인하여 초래된 결과에 대하여 일절 책임을 지지 않습니다.

제19조(재판 관할)
서비스 이용으로 발생한 분쟁에 대해 소송이 제기될 경우, 구단은 구단 소재지를 관할하는 법원을 전속 관할법원으로 합니다.

제20조 (기타조항)
구단은 회원이 제기하는 정당한 의견이나 불만을 반영하고, 그 문제를 해결하기 위해 노력합니다. 구단은 회원으로부터 제기되는 불만사항 및 의견을 우선적으로 처리하기 위해 노력하며, 처리가 지연될 경우 그 사유와 처리 기간을 통보합니다.


(시행일) 이 약관은 2021년 09월부터 시행합니다.
                                </textarea>
                                <fieldset class="fregister_agree">
                                    <label for="agree11">회원가입약관의 내용에 동의합니다.</label>
                                    <input type="checkbox" name="agree" value="1" id="agree11">
                                </fieldset>
                            </section>
                            <section id="fregister_private">
                                <h2><i class="fa fa-check" aria-hidden="true"></i> 개인정보처리방침</h2>
                                <textarea>
1. 총칙
① 주식회사 춘천시민축구단(이하 ‘구단’)은 정보주체인 고객(이하 ‘이용자’)의 개인정보 보호를 중요한 업무로 취급하고 있습니다. 구단은 『개인정보보호법』 등 국내의 개인정보 보호관련 법령을 준수합니다.

② 구단은 『개인정보보호법』 제30조와 『개인정보보호법 시행령』 제31조에 근거하여 개인정보처리방침을 수립하고 공개합니다. 구단은 이를 통하여 이용자의 개인정보가 어떤 용도와 방식으로 이용되고 있는지 알려드리고, 개인정보 보호를 위해 구단이 취하고 있는 조치를 알려드립니다.

③ 구단은 개인정보처리방침을 홈페이지 메인 화면 하단에 상시 게재함으로써 이용자가 이를 언제든지 편리하게 확인하실 수 있도록 조치하고 있습니다.

④ 구단은 개인정보처리방침의 내용이 변경되는 경우, 사전에 홈페이지 내 공지를 통하여 변경일자와 변경사유를 공지하고, 개인정보처리방침의 변경 전/후 사항을 비교할 수 있도록 관리하겠습니다.

2. 개인정보 처리 목적
① 구단은 춘천시민축구단(춘천시민FC) 홈페이지(https://cccityfc.com/)를 운영하며 다음과 같은 목적으로 개인정보를 처리합니다. 구단은 목적을 수행하는 데 필요한 최소한의 개인정보를 처리합니다. 개인정보는 정해진 처리 목적 이외의 용도로 사용하지 않습니다.

② 구단의 구체적인 개인정보 처리 목적은 다음과 같습니다.

홈페이지 회원제 서비스
– 처리목적 : 처리 목적
– 상세내용 : 회원가입 시 본인식별, 공지 전달, 이벤트 등 회원 대상 서비스공급을 위한 의사소통 경로 확보

원정버스 신청, 셔틀버스 신청, 사회공헌활동 신청 등
– 처리목적 : 원정버스 신청, 셔틀버스 신청, 사회공헌활동 신청 등 이용자 신청형 서비스의 신청 및 신청내역 관리
– 상세내용 : 해당 서비스 신청내역 관리, 해당 서비스의 원활한 공급을 위한 본인식별, 의사소통 경로의 확보

주주정보 확인 및 관리
– 처리목적 : 주주정보 확인 및 관리
– 상세내용 : 주주정보 확인 및 관리를 위한 본인식별, 의사소통 경로의 확보

연간회원권(시즌권) 및 티켓구매 고객
– 처리목적 : 연간회원권(시즌권) 및 티켓구매 고객 대상 마케팅 계획 수립
– 상세내용 : 연간회원권(시즌권) 정보 관리, 티켓구매 정보 관리, 연간회원권 및 티켓 정책 수립을 위한 데이터 분석, 연간회원권 및 티켓 등록 고객 대상 마케팅을 위한 의사소통 경로의 확보

민원의 접수 및 처리
– 처리목적 : 문의사항 등 민원의 접수 및 처리
– 상세내용 : 이용자의 문의사항 등 민원의 접수 및 처리에 필요한 의사소통 경로의 확보

3. 개인정보의 처리 및 보유기간
① 구단이 처리하는 개인정보는 『개인정보보호법』 및 관련 법령에서 정하는 보유기간 또는 이용자로부터 개인정보를 수집할 때 동의받은 개인정보의 보유 및 이용 기간 내에서 보유 또는 처리됩니다.

② 주요 서비스별 개인정보의 처리 및 보유기간은 다음과 같습니다.
1. 홈페이지 회원가입 및 관리 : 홈페이지 회원 탈퇴 시까지 보유/처리. 1년 간 로그인 기록이 없을 시 휴면 계정으로 전환되어 별도로 분리/보관. 분리/보관된 정보는 3년 경과 시 파기.

2. 연간회원권(시즌권)/티켓 등록 및 관리 : 회원 탈퇴시까지 처리/보유. 단, 이용자가 등록한 연간회원권/티켓을 직접 삭제 시에는 해당 정보를 즉시 파기.

3. 원정버스 및 시‧군 셔틀버스 신청 및 관리: 해당연도의 신청내역을 다음연도 12월 31일까지 처리/보유. 단, 원정버스/셔틀버스 신청 취소 시 또는 삭제요청 시 해당 정보 즉시 파기.

4. 사회공헌활동 신청 및 관리: 해당연도의 신청내역을 다음연도 12월 31일까지 처리/보유. 단, 신청 취소 시 또는 삭제요청 시 해당 정보 즉시 파기.

③ 법정 의무 보유기간이 지정된 항목은 해당 기간에 한하여 개인정보를 처리/보유합니다. 구체적인 내용은 아래와 같습니다.
1. 『전자상거래 등에서의 소비자보호에 관한 법률』
– 계약 또는 청약철회 등에 관한 기록 : 5년 보관
– 대금결제 및 재화 등의 공급에 관한 기록 : 5년 보관
– 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 보관

2. 『통신비밀보호법』
– 접속로그, 접속IP, 서비스 이용기록 : 최소 3개월 보관

4. 개인정보의 제3자 제공에 관한 사항
구단은 이용자의 개인정보에 대하여 본 개인정보처리방침에 정한 개인정보의 처리 목적에 명시한 범위 내에서만 처리함을 원칙으로 하며, 이용자의 동의 없이 개인정보를 제3자에 제공하지 않습니다. 단, 이용자의 동의가 있거나 법률상의 특별한 규정 등에 해당하는 경우에는 개인정보를 제3자에게 제공합니다.

5. 개인정보 처리의 위탁
① 구단은 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.

② 구단은 위탁계약 체결 시 『개인정보보호법』에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적/관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리/감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지 감독하고 있습니다.

③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보처리방침을 통하여 공개하도록 하겠습니다.
홈페이지
– 수탁업체 :
– 위탁업무 : 구단 홈페이지 운영 및 관리
– 개인정보의 보유 및 처리기간 : 회원탈퇴 혹은 위탁 계약 종료 시까지

연간회원권(시즌권) 및 티켓
– 수탁업체 :
– 위탁업무 : 시즌권 및 티켓예매
– 개인정보의 보유 및 처리기간 : 회원탈퇴 혹은 위탁 계약 종료 시까지

본인확인 인증
– 수탁업체 :
– 위탁업무 : 본인확인 인증
– 개인정보의 보유 및 처리기간 : 회원탈퇴 혹은 위탁 계약 종료 시까지

6. 처리하는 개인정보의 항목
홈페이지 회원가입
– 서비스 구분 : 춘천시민축구단 홈페이지 회원가입
– 필수항목 : 본인인증을 통한 생년월일, 성별, 이름(성명), 휴대전화번호, 암호화된 이용자 확인값(CI), 중복가입 확인정보(DI), 로그인ID, 비밀번호, 주소, 이메일
– 선택항목 : 이메일 수신여부, SMS 수신여부

사회공헌활동 신청
– 서비스 구분 : 사회공헌활동 신청
– 필수항목 : 신청 기관, 신청 기관 대표전화, 대표자 이름, 대표자 연락처, 주소, 신청 인원, 신청 시간
– 선택항목 : 해당사항 없음.

티켓구매 관리
– 서비스 구분 : 티켓구매 관리
– 필수항목 : 이름(성명), 휴대전화번호, ID, 이메일, 생년월일, 티켓정보(권종, 금액, 관람좌석구역)
– 선택항목 : 해당사항 없음.

7. 정보주체와 법정대리인의 권리‧의무 및 그 행사 방법
① 이용자(정보주체)는 구단에 대하여 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.
1. 개인정보 열람 요구
2. 오류 등이 있을 경우 정정 요구
3. 삭제 요구
4. 처리정지 요구

② 위의 제1항에 따른 권리 행사는 『개인정보보호법 시행령』 제41조 제1항에 따라 서면, 전화, 전자우편 등을 통하여 하실 수 있습니다.

③ 위의 제1항에 따른 권리 행사는 이용자(정보주체)의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수도 있습니다. 이 경우, 『개인정보보호법 시행규칙』 별지 제11호 서식에 따른 위임장을 제출하여야 합니다.

④ 개인정보 열람 및 처리정지 요구는 『개인정보보호법』 제35조 제5항, 제37조 제2항에 의하여 정보주체의 권리가 제한될 수 있습니다.

⑤ 개인정보의 정정 및 삭제요구는 다른 법령에서 그 개인정보가 수집대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.

⑥ 구단은 정보주체 권리에 따른 열람의 요구, 정정ㆍ삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.
8. 개인정보의 파기에 관한 사항
① 구단은 개인정보 보유기간 경과, 처리목적 달성 등으로 인해 개인정보가 불필요하게 되었을 때에는 지체없이 해당 개인정보를 파기합니다. 다만, 다른 법령에 따라 개인정보를 보존해야 하는 경우에는 그러지 아니합니다.

② 개인정보의 파기는 다음의 절차와 방법을 따릅니다.
– 파기절차 : 개인정보 파기는 사전에 파기계획을 수립하여 진행하며, 개인정보 보호책임자의 승인하에 이루어집니다.
– 파기방법 : 전자적 파일 형태의 정보는 기록을 재생할 수 없도록 파기하며, 종이 등에 출력된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.

9. 개인정보의 안전성 확보 조치
구단은 이용자의 개인정보를 취급함에 있어 안전성 확보를 위한 조치를 취하고 있습니다. 구단은 개인정보 취급 직원을 필수인원으로 최소화하고, 개인정보 취급 직원에 대한 교육을 실시합니다. 또한, 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 아래와 같은 기술적 대책을 강구하고 있습니다.

1. 이용자의 개인정보는 비밀번호에 의해 보호되며, 파일 및 전송데이터를 암호화하거나 파일 잠금기능(Lock)을 사용하여 중요한 데이터는 별도의 보안기능을 통해 보호되고 있습니다.
2. 구단은 백신프로그램을 이용하여 컴퓨터 바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있습니다.
3. 구단은 암호 알고리즘을 이용하여 네트워크 상의 개인정보를 안전하게 전송할 수 있는 보안장치(SSL 또는SET)를 채택하고 있습니다.
4. 구단은 해킹 등에 의해 이용자의 개인정보가 유출되는 것을 방지하기 위해, 외부로부터의 침입을 차단하는 장치를 이용하고 있습니다.

10. 권익침해 구제 방법
이용자(정보주체)는 개인정보 침해로 인한 피해를 구제받기 위하여 개인정보 분쟁조정위원회, 한국인터넷진흥원 개인정보 침해신고센터 등에 분쟁해결이나 상담을 신청할 수 있습니다. (아래의 기관은 구단과는 무관한 별도의 기관입니다.)

– 개인정보 분쟁조정위원회 : 1833-6972 (www.kopico.go.kr)
– 개인정보 침해신고센터 : 국번없이 118 (privacy.kisa.or.kr)
– 경찰청 사이버안전국 : 국번없이 182 (cyberbureau.police.go.kr)

11. 개인정보 보호책임자 및 고충사항 처리 담당 부서
구단은 홈페이지 이용자의 개인정보를 보호하고 개인정보와 관련한 고충의 처리를 위하여 개인정보 보호책임자와 관리책임자, 관리담당자를 지정하고있습니다. 이용자의 개인정보와 관련하여 궁금하시거나 불편한 사항이 있으시면 아래의 개인정보 관리담당자에게 연락주시면 즉시 조치하여 처리결과를 통보하겠습니다.
<개인정보 보호책임자>
– 성명:
– 소속: –
– 직책:
– 연락처:
– 이메일:

<개인정보 관리책임자>
– 성명:
– 소속:
– 직책:
– 연락처:
– 이메일:

<개인정보 관리담당자>
– 성명:
– 소속:
– 직책:
– 연락처:
– 이메일:

12. 개인정보 자동 수집장치의 설치·운영 및 거부에 관한 사항
① 구단은 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다.

② 쿠키는 이용자가 방문한 각 서비스와 웹사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속여부 등을 파악하여 이용자에게 최적화 된 정보제공을 위해 사용됩니다.

③ 쿠키의 설치·운영 및 거부 : 이용자는 웹 브라우저 내 옵션 설정을 쿠키저장을 거부할 수 있습니다.

④ 쿠키 저장을 거부할 경우에는 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.

13. 개인정보 처리방침 변경
① 이 개인정보 처리방침은 2021년 07월 31일에 개정되었으며 법령/정책 또는 보안기술의 변경에 따라 내용의 변경(추가, 삭제 및 수정 등)이 있을 시에는 변경되는 개인정보 처리방침을 시행하기 최소 5일 전에 홈페이지를 통해 변경사유 및 내용 등을 공지하도록 하겠습니다.
                                </textarea>
                                <div>
                                    <table>
                                        <caption>개인정보처리방침</caption>
                                        <thead>
                                        <tr>
                                            <th>목적</th>
                                            <th>항목</th>
                                            <th>보유기간</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>이용자 식별 및 본인여부 확인</td>
                                            <td>아이디, 이름, 비밀번호</td>
                                            <td>회원 탈퇴 시까지</td>
                                        </tr>
                                        <tr>
                                            <td>고객서비스 이용에 관한 통지,<br>CS대응을 위한 이용자 식별</td>
                                            <td>연락처 (이메일, 휴대전화번호)</td>
                                            <td>회원 탈퇴 시까지</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <fieldset class="fregister_agree">
                                    <label>개인정보처리방침의 내용에 동의합니다.</label>
                                    <input type="checkbox" name="agree">
                                </fieldset>
                            </section>
                            <div class="btn_confirm">
                                <input type="button" class="btn_submit" value="회원가입" @click="goRegisterForm">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="include/footer::footer"></div>
    </div>
</div>
</body>
<script>
    new Vue({
        el: "#subRegister",
        data: {},
        methods: {
            triggle() {
                let allcheck = document.getElementById("chk_all")
                let inputs = document.getElementsByName("agree");
                for (let i = 0; i < inputs.length; i++) {
                    inputs[i].checked = allcheck.checked;
                }
            },
            goRegisterForm() {
                let inputs = document.getElementsByName("agree");
                let message = '';
                for (let i = 0; i < inputs.length; i++) {
                    if (inputs[i].checked === false) {
                        if (i === 0) {
                            message = '회원가입약관의 내용에 동의하셔야 회원가입 하실 수 있습니다.'
                            this.$notify({
                                title: '알림',
                                message: message,
                                type: 'warning'
                            });
                            return;
                        } else if (i === 1) {
                            message = '개인정보처리방침안내의 내용에 동의하셔야 회원가입 하실 수 있습니다.'
                            this.$notify({
                                title: '알림',
                                message: message,
                                type: 'warning'
                            });
                            return
                        }
                    }
                }
                window.location = "/front/portal/registerform";
            }
        },
        mounted() {
        }, created() {
        }, watch: {}
    })
</script>
