<body>
<div class="wrapper">
    <!-- :: header s :: -->
    <head th:replace="include/header :: common_head(~{::title},~{::link},~{})">
        <title></title>
    </head>
</div>
<div id="subwrite">
    <section class="container">
        <div class="sub-top bg1">
            <div class="sub-top-con">
                <h2>구단소개</h2>
            </div>
        </div>
        <nav class="breadcrumb">
            <div class="breadcrumb-container">
                <ul class="breadcrumb-list">
                    <li class="home"><span class="screen-out">홈</span></li>
                    <li>
                        <div class="breadcrumb-box js-dropdown">
                            <button type="button" class="breadcrumb-btn js-dropdown-btn"
                                    data-dropdown="breadcrumb-dep1">
                                <span>구단소식</span>
                            </button>
                            <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep1">
                                <ul class="breadcrumb-cont-list">
                                    <li><a href="/front/portal/sub01_01">구단소개</a></li>
                                    <li><a href="/front/portal/sub02_01_list">구단소식</a></li>
                                    <li><a href="/front/portal/sub03_01">선수단</a></li>
                                    <li><a href="/front/portal/sub04_01">경기정보</a></li>
                                    <li><a href="/front/portal/sub05_01_list">팬</a></li>
                                    <li><a href="/front/portal/sub06_01">유소년</a></li>
                                    <li><a href="/front/portal/sub07_01">사회적협동조합</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="breadcrumb-box js-dropdown">
                            <button type="button" class="breadcrumb-btn js-dropdown-btn"
                                    data-dropdown="breadcrumb-dep2">
                                <span>사진자료</span>
                            </button>
                            <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep2">
                                <ul class="breadcrumb-cont-list">
                                    <li><a href="/front/portal/sub02_01_list">공지사항</a></li>
                                    <li><a href="/front/portal/sub02_02_list">사진자료</a></li>
                                    <li><a href="/front/portal/sub02_03_list">동영상자료</a></li>
                                    <li><a href="/front/portal/sub02_04_list">관련기사</a></li>
                                    <li><a href="/front/portal/sub02_05_list">협약</a></li>
                                    <li><a href="/front/portal/sub02_06_list">마케터</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <div id="sub_contents">
        <div class="wrap">
            <div id="contents_area">
                <h2 class="container_title">사진자료</h2>
                <section id="bo_w">
                    <form name="fwrite" id="fwrite">
                        <div class="write_div">
                            <input type="checkbox" v-model="article.notice">
                            <label for="notice">공지</label>
                            <input type="checkbox" v-model="article.secret">
                            <label for="secret">비밀글</label>
                        </div>
                        <div class="bo_w_tit write_div">
                            <div id="autosave_wrapper write_div">
                                <input type="text" required class="frm_input full_input required" size="50"
                                       maxlength="255"
                                       v-model="article.title"
                                       placeholder="제목">
                            </div>
                        </div>
                        <div class="write_div">
                            <div class="wr_content">
                                <!--                                    <textarea style="width:100%;height:300px;font-size:12px;"-->
                                <!--                                              v-model="content"></textarea>-->
                                <div id="editor">
                                </div>
                            </div>
                        </div>
                        <div class="bo_w_flie write_div" v-for="(item,index) in fileList" v-if="article.type !== 1"
                             v-show="false">
                            <div class="file_wr write_div">
                                <label class="lb_icon"><i class="fa fa-download" aria-hidden="true"></i></label>
                                <input type="file" class="frm_file " :value="item.file"
                                       @change="handleFileChange($event,index)">
                            </div>
                        </div>
                        <div>
                            <el-upload
                                    action="/portal/article/upload"
                                    :on-remove="handleRemove"
                                    :before-remove="beforeRemove"
                                    :on-success="handleUploadSuccess"
                                    multiple
                                    :limit="1"
                                    :on-exceed="handleExceed"
                                    list-type="picture"
                                    :file-list="fileList">
                                <a class="fa fa-download" style="margin-top:7px;">썸네일 사진 선택</a>
                                <div slot="tip" class="el-upload__tip">이미지 파일은 jpg/png만 업로드 됩니다</div>
                            </el-upload>
                        </div>
                        <div class="btn_confirm write_div">
                            <a href="javascript:window.history.back(-1);" class="btn_cancel btn">취소</a>
                            <input type="button" value="작성완료" id="btn_submit" accesskey="s" class="btn_submit btn"
                                   @click="submit">
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

<div th:replace="include/footer::footer"></div>
</body>
<script type="text/javascript">
    new Vue({
        el: "#subwrite",
        data: {
            token: '',
            article: {
                id: '',
                notice: false,
                secret: false,
                url: '',
                description: '',
                type: 2,
                title: '',
                imgUrl: ''
            },
            editor: null,
            imgRecord: [],
            content: '',
            fileList: []
        },
        methods: {
            handleUploadSuccess(res, file) {
                console.log('res', res)
                console.log('file', file)
                this.article.imgUrl = res.data[0].url
            },
            handleExceed(files, fileList) {
                this.$message.warning(`파일 하나만 선택할 수 있습니다， ${files.length} 개 파일을 선택했는데， ${files.length + fileList.length} 개 파일을 선택했습니다.`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`${file.name} 파일 삭제 하시겠습니까？`);
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            initEdit() {
                let that = this
                const E = window.wangEditor
                const editor = new E('#editor')
                editor.config.excludeMenus = [
                    'list',
                    'todo',
                    'table',
                    'code'
                ]
                editor.config.fontNames = [
                    {name: "맑은 고딕", value: "맑은 고딕"},
                    {name: "휴먼고딕", value: "휴먼고딕"},
                    {name: "바탕체", value: "바탕체"},
                    {name: "굴림", value: "굴림"},
                    {name: "돋음체", value: "돋음체"},
                    {name: "궁서", value: "궁서"},
                    {name: "굴림체", value: "굴림체"},
                    {name: "arial", value: "arial"},
                    {name: "arial black", value: "arial black"},
                    {name: "comic sans MS", value: "comic sans MS"},
                    {name: "courier New", value: "courier New"},
                    {name: "Helvetica", value: "Helvetica"},
                    {name: "Impact", value: "Impact"},
                    {name: "Tahoma", value: "Tahoma"},
                    {name: "Times New Roman", value: "Times New Roman"},
                    {name: "Verdana", value: "Verdana"}
                ]
                editor.config.uploadImgMaxSize = 50 * 1024 * 1024
                editor.config.customUploadImg = function (resultFiles, insertImgFn) {
                    console.log(resultFiles)
                    that.upload(resultFiles[0], insertImgFn)
                }
                editor.create()
                this.editor = editor
            },
            upload(file, insertImgFn) {
                let formData = new FormData;
                formData.append('file', file)
                axios.post('/portal/article/upload', formData, {
                    headers: {
                        'Authorization': this.token
                    }
                }).then(res => {
                    let data = res.data.data
                    let url = data[0].url
                    insertImgFn(url)
                })
            },
            handleFileChange(e, index) {
                let file = e.target.files[0]
                // 处理文件上传
                let formData = new FormData;
                formData.append('file', file)
                axios.post('/portal/article/upload', formData, {
                    headers: {
                        'Authorization': this.token
                    }
                }).then(res => {
                    let data = res.data
                    let url = data.data
                    this.article.imgUrl = url[0].url
                })
            },
            submit() {
                this.article.content = escape(this.editor.txt.html())
                let data = JSON.stringify(this.article)
                if (this.article.id) {
                    axios.patch('/portal/article', data, {
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': this.token
                        }
                    }).then(res => {
                        window.location = '/front/portal/sub02_02_list'
                    })
                } else {
                    axios.post('/portal/article', data, {
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': this.token
                        }
                    }).then(res => {
                        // todo 跳转到文章列表
                        window.location = '/front/portal/sub02_02_list'
                    })
                }
            },
            getArticle(articleId) {
                axios.get('/portal/article/' + articleId, {
                    headers: {
                        'Authorization': this.token
                    }
                }).then(res => {
                    this.article = res.data.data
                    this.content = unescape(this.article.content)
                    this.editor.txt.html(this.content)
                    console.log('article', this.article)
                    this.fileList.push({
                        url: this.article.imgUrl
                    })
                })
            }
        },
        mounted() {
            this.initEdit()
            let articleId = localStorage.getItem('sub02_02_write')
            if (articleId) {
                this.getArticle(articleId)
            }
        },
        created() {
            let loginUserStr = localStorage.getItem('login_user')
            if (loginUserStr) {
                let loginUser = JSON.parse(loginUserStr)
                this.token = loginUser.data.token || ''
            } else {
                window.location = "/front/portal/login"
            }
        },
        watch: {}
    })
</script>
<style>
    .w-e-toolbar {
        z-index: 100 !important;
    }

    .w-e-text-container {
        z-index: 10 !important;
    }
</style>
