<body>
<div class="wrapper">
    <!-- :: header s :: -->
    <head th:replace="include/header :: common_head(~{::title},~{::link},~{})">
        <title></title>
    </head>
</div>
<section class="container">
    <div class="sub-top bg1">
        <div class="sub-top-con">
            <h2>구단소개</h2>
        </div>
    </div>
    <nav class="breadcrumb">
        <div class="breadcrumb-container">
            <ul class="breadcrumb-list">
                <li class="home"><span class="screen-out">홈</span></li>
                <li>
                    <div class="breadcrumb-box js-dropdown">
                        <button type="button" class="breadcrumb-btn js-dropdown-btn" data-dropdown="breadcrumb-dep1">
                            <span>구단소개</span>
                        </button>
                        <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep1">
                            <ul class="breadcrumb-cont-list">
                                <li><a href="/front/portal/sub01_01">구단소개</a></li>
                                <li><a href="/front/portal/sub02_01_list">구단소식</a></li>
                                <li><a href="/front/portal/sub03_01">선수단</a></li>
                                <li><a href="/front/portal/sub04_01">경기정보</a></li>
                                <li><a href="/front/portal/sub05_01_list">팬</a></li>
                                <li><a href="/front/portal/sub06_01">유소년</a></li>
                                <li><a href="/front/portal/sub07_01">사회적협동조합</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="breadcrumb-box js-dropdown">
                        <button type="button" class="breadcrumb-btn js-dropdown-btn" data-dropdown="breadcrumb-dep2">
                            <span>스폰서</span>
                        </button>
                        <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep2">
                            <ul class="breadcrumb-cont-list">
                                <li><a href="/front/portal/sub01_01">인사말</a></li>
                                <li><a href="/front/portal/sub01_02">연혁</a></li>
                                <li><a href="/front/portal/sub01_06">조직도</a></li>
                                <li><a href="/front/portal/sub01_03">구단상징</a></li>
                                <li><a href="/front/portal/sub01_04">홈경기장</a></li>
                                <li><a href="/front/portal/sub01_05">스폰서</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</section>
<div id="sub_contents">
    <div class="wrap">
        <div id="contents_area">
            <h2 class="container_title">스폰서</h2>

            <div id="ctt_con" class="sub01_01">
                <div class="sub_sponsor" >
                    <ul>
                        <li class="spon_text">
                            춘천시민 축구단 공식스폰서
                            <p>춘천시민 여러분들이 더욱 힘낼 수 있게 선수단이 열심히 뛰겠습니다.</p>
                        </li>
                        <li>
                            <ul>
                                <li class="spon_img">
                                    <a href="http://www.chuncheon.go.kr/index.chuncheon" target="_blank"><img src="/front/portal/img/main/spon_img01.jpg"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="sub_sponsor2" >
                    <ul>
                        <li>
                            <ul>
                                
                                <li class="spon_img">
                                    <a href="https://www.shinhan.com/" target="_blank"><img src="/front/portal/img/main/spon_img06.jpg"></a>
                                </li>
                                <li class="spon_img">
                                    <a href="http://www.sshomecenter.co.kr/" target="_blank"><img src="/front/portal/img/main/spon_img40.png"></a>
                                </li>
                                <li class="spon_img">
                                    <a href="https://soccerapplerind.com/" target="_blank"><img src="/front/portal/img/main/spon_img03.jpg"></a>
                                </li>
                                <li class="spon_img">
                                    <a href="http://chuncheon.nonghyup.com/" target="_blank"><img src="/front/portal/img/main/spon_img02.jpg"></a>
                                </li>
                                
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="sub_sponsor3">
                    <ul>
                        <li>
                            <ul>
                                <li class="spon_img">
                                    <a href="http://ccfa.kr/soc1/" target="_blank"><img src="/front/portal/img/main/spon_img13.png"></a>
                                </li>
                                <li class="spon_img">
                                    <a href="https://www.khnp.co.kr/hangang/main.office?mnCd=BR05" target="_blank"><img src="/front/portal/img/main/spon_img05.jpg"></a>
                                </li>                                
                                <li class="spon_img">
                                    <a href="https://www.cuc.or.kr/" target="_blank"><img src="/front/portal/img/main/spon_img08.jpg"></a>
                                </li>
                                <li class="spon_img">
                                    <a href="http://chuncheon.nfcf.or.kr/" target="_blank"><img src="/front/portal/img/main/spon_img09.jpg"></a>
                                </li>
                                <li class="spon_img">
                                    <a href="http://www.gotnt.com/" target="_blank"><img src="/front/portal/img/main/spon_img04.jpg"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="sub_sponsor4">
                    <ul>
                        <li>
                            <ul>
                                <li class="spon_img">
                                    <a href="https://ccsports.kr/web/" target="_blank"><img src="/front/portal/img/main/spon_img12.png"></a>
                                </li>
                                <li class="spon_img">
                                    <a href="https://drkhmos.modoo.at//" target="_blank"><img src="/front/portal/img/main/spon_img11.jpg"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div th:replace="include/footer::footer"></div>
</body>
