<body>
<div class="wrapper">
    <!-- :: header s :: -->
    <head th:replace="include/header :: common_head(~{::title},~{::link},~{})">
        <title></title>
    </head>
</div>
<div id="sub0204view">
    <section class="container">
        <div class="sub-top bg2">
            <div class="sub-top-con">
                <h2>구단소식</h2>
            </div>
        </div>
        <nav class="breadcrumb">
            <div class="breadcrumb-container">
                <ul class="breadcrumb-list">
                    <li class="home"><span class="screen-out">홈</span></li>
                    <li>
                        <div class="breadcrumb-box js-dropdown">
                            <button type="button" class="breadcrumb-btn js-dropdown-btn"
                                    data-dropdown="breadcrumb-dep1">
                                <span>구단소식</span>
                            </button>
                            <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep1">
                                <ul class="breadcrumb-cont-list">
                                    <li><a href="/front/portal/sub01_01">구단소개</a></li>
                                    <li><a href="/front/portal/sub02_01_list">구단소식</a></li>
                                    <li><a href="/front/portal/sub03_01">선수단</a></li>
                                    <li><a href="/front/portal/sub04_01">경기정보</a></li>
                                    <li><a href="/front/portal/sub05_01_list">팬</a></li>
                                    <li><a href="/front/portal/sub06_01">유소년</a></li>
                                    <li><a href="/front/portal/sub07_01">사회적협동조합</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="breadcrumb-box js-dropdown">
                            <button type="button" class="breadcrumb-btn js-dropdown-btn"
                                    data-dropdown="breadcrumb-dep2">
                                <span>관련기사</span>
                            </button>
                            <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep2">
                                <ul class="breadcrumb-cont-list">
                                    <li><a href="/front/portal/sub02_01_list">공지사항</a></li>
                                    <li><a href="/front/portal/sub02_02_list">사진자료</a></li>
                                    <li><a href="/front/portal/sub02_03_list">동영상자료</a></li>
                                    <li><a href="/front/portal/sub02_04_list">관련기사</a></li>
                                    <li><a href="/front/portal/sub02_05_list">협약</a></li>
                                    <li><a href="/front/portal/sub02_06_list">마케터</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

    <el-dialog title="메뉴 선택하세요" :visible.sync="dialogFormVisible">
        <el-tree
                :data="treeData"
                node-key="id"
                show-checkbox
                default-expand-all
                ref="tree"
                :props="defaultProps"
        >
        </el-tree>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">취 소</el-button>
            <el-button type="primary" @click="moveConfirm">확 인</el-button>
        </div>
    </el-dialog>

    <div id="sub_contents">
        <div class="wrap">
            <div id="contents_area">
                <h2 class="container_title">관련기사</h2>
                <div id="bo_v">
                    <header>
                        <h2 id="bo_v_title">
                        <span class="bo_v_tit">
                            {{articleData.title}}</span>
                        </h2>
                    </header>
                    <section id="bo_v_info">
                        <strong><span
                                class="sv_member">{{articleData.author}}</span>&nbsp;({{articleData.authorIp}})</strong>
                        <i class="fa fa-eye" aria-hidden="true"></i> {{articleData.count }}회</strong>
                        <strong class="if_date"><i class="fa fa-clock-o"
                                                   aria-hidden="true"></i>{{articleData.lastUpdateTime }}</strong>
                    </section>
                    <section id="bo_v_atc">
                        <div id="bo_v_con"><p v-html="content"><br/></p></div>
                    </section>
                    <!-- 첨부파일 시작 글작성 시 첨부파일이 있을 때만 해당 구역이 나오도록-->
                    <section id="bo_v_file">
                        <h2>첨부파일</h2>
                        <ul v-if="articleData.attaches&&articleData.attaches.length>0">
                            <li v-for="item in articleData.attaches" :key="item.id">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                <a herf="" class="view_file_download" @click="downloadFile(item.id)">
                                    <strong>{{item.name}}</strong>
                                </a>
                                ({{item.size}})
                                <span class="bo_v_file_cnt">0회 다운로드 | DATE : {{item.lastUpdateTime}}</span>
                            </li>
                        </ul>
                        <div v-else style="height: 34px;text-align: center;line-height: 34px">No File</div>
                    </section>
                    <!-- } 첨부파일 끝 -->
                    <!-- 게시물 상단 버튼 시작 { -->
                    <div id="bo_v_top">
                        <ul v-if="hasPrivilege('sub02_04_list_write')" class="bo_v_left">
                            <li><a class="btn_b01 btn" @click="goEdit"><i class="fa fa-pencil-square-o"
                                                                          aria-hidden="true"></i> 수정</a>
                            </li>
                            <li><a class="btn_b01 btn" @click="goDel"><i class="fa fa-trash-o"
                                                                         aria-hidden="true"></i> 삭제</a>
                            </li>
                            <li><a @click="move('copy')" class="btn_admin btn"><i class="fa fa-files-o"
                                                                                  aria-hidden="true"></i>
                                복사</a>
                            </li>
                            <li><a @click="move('move')" class="btn_admin btn"><i class="fa fa-arrows"
                                                                                  aria-hidden="true"></i> 이동</a>
                            </li>
                        </ul>
                        <ul class="bo_v_com">
                            <li><a href="/front/portal/sub02_04_list" class="btn_b01 btn"><i
                                    class="fa fa-list" aria-hidden="true"></i> 목록</a>
                            </li>
                            <li v-if="hasPrivilege('sub02_04_list_write')">
                                <a @click="goCreate" class="btn_b02 btn"><i class="fa fa-pencil-square-o"
                                                                            aria-hidden="true"></i> 글등록</a>
                            </li>
                        </ul>
                    </div>
                    <!-- 댓글 시작 { -->
                    <hr class="dashHr">
                    <button type="button" class="cmt_btn" style="font-size:18px;"><i class="fa fa-commenting-o"
                                                                                     aria-hidden="true"></i>
                        댓글목록 <i class="fa fa-chevron-up" aria-hidden="true"></i><i class="fa fa-chevron-down"
                                                                                   aria-hidden="true"></i></button>
                    <div sytle="margin-bottom:15px">
                        <section id="bo_vc" v-if="comments.length===0">
                            <p id="bo_vc_empty">등록된 댓글이 없습니다.</p>
                        </section>
                        <el-collapse v-model="activeNames" @change="handleChange" v-else>
                            <el-collapse-item :title="item.realName +'    '+ item.lastUpdateTime" name="1"
                                              v-for="(item,index) in comments" disabled>
                                <div>{{item.content}}</div>
                            </el-collapse-item>
                        </el-collapse>
                    </div>
                    <!-- } 댓글 끝 -->
                    <!-- 댓글 쓰기 시작 { -->
                    <aside id="bo_vc_w" class="bo_vc_w">
					<textarea v-if="hasPrivilege('sub02_04_list_replay')" id="wr_content" maxlength="10000" required
                              class="required" title="내용"
                              style="font-size:13px;" placeholder="댓글내용을 입력해주세요"
                              v-model="commentContent"
                    ></textarea>
                        <div class="bo_vc_w_wr" v-if="hasPrivilege('sub02_04_list_replay')">
                            <div class="btn_confirm">
                                <input type="checkbox" id="wr_secret" v-model="priv">
                                <label for="wr_secret" class="btn btn_b01" style="font-size:13px;" title="비밀글사용"><i
                                        class="fa fa-lock" aria-hidden="true"></i> <i class="fa fa-unlock"
                                                                                      aria-hidden="true"></i></label>
                                <input type="button" id="btn_submit" class="btn_submit" style="font-size:13px;"
                                       @click="comment"
                                       value="댓글등록"
                                >
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="include/footer::footer"></div>

</body>

<script type="text/javascript">
    new Vue({
        el: "#sub0204view",
        data: {
            dialogFormVisible: false,
            treeData: [],
            defaultProps: {
                children: 'subMenus',
                label: 'name',
                disabled: 'disabled'
            },
            activeNames: ['1'],
            priv: false,
            commentContent: '',
            token: '',
            articleId: '',
            articleData: {
                attaches:[]
            },
            content: '',
            privileges: [],
            comments: []
        },
        methods: {
            getCheckedKeys() {
                return this.$refs.tree.getCheckedKeys()
            },
            downloadFile(id){
                try {
                    let elemIF = document.createElement("iframe");
                    elemIF.src = '/portal/article/attachDownload/'+id
                    elemIF.style.display = "none";
                    document.body.appendChild(elemIF);
                } catch (e) {
                    alert("다운로드 에러！");
                }
            },
            change(limit){
                let size = "";
                if(limit < 0.1 * 1024){                            //小于0.1KB，则转化成B
                    size = limit.toFixed(2) + "B"
                }else if(limit < 0.1 * 1024 * 1024){            //小于0.1MB，则转化成KB
                    size = (limit/1024).toFixed(2) + "KB"
                }else if(limit < 0.1 * 1024 * 1024 * 1024){        //小于0.1GB，则转化成MB
                    size = (limit/(1024 * 1024)).toFixed(2) + "MB"
                }else{                                            //其他转化成GB
                    size = (limit/(1024 * 1024 * 1024)).toFixed(2) + "GB"
                }

                let sizeStr = size + "";                        //转成字符串
                let index = sizeStr.indexOf(".");                    //获取小数点处的索引
                let dou = sizeStr.substr(index + 1 ,2)            //获取小数点后两位的值
                if(dou == "00"){                                //判断后两位是否为00，如果是则删除00
                    return sizeStr.substring(0, index) + sizeStr.substr(index + 3, 2)
                }
                return size;
            },
            moveConfirm() {
                let keys = this.getCheckedKeys()
                if (keys.length !== 1) {
                    alert('메뉴를 선택하세요')
                    return
                }
                console.log('keys', keys)
                let param = {}
                param.menuId = keys[0]
                param.articleIds = this.articleIds
                param.moveMode = this.moveMode
                axios.post('/portal/article/move', param, {
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': this.token
                    }
                }).then(res => {
                    window.location.reload()
                    this.$notify({
                        title: '알림',
                        message: '이동 성공',
                        type: 'success'
                    });
                })
                this.dialogFormVisible = false
            },
            move(mode) {
                this.moveMode = mode
                let ids = []
                ids.push(localStorage.getItem('sub02_04_view'))
                this.articleIds = ids
                if (!ids) {
                    this.$notify({
                        title: '알림',
                        message: '이동 할 글 선택하세요',
                        type: 'warning'
                    });
                    return
                }
                axios.get('/menu/menutrees', {
                    headers: {
                        'Authorization': this.token
                    }
                }).then(res => {
                    console.log('menuTrees', res)
                    this.treeData = res.data.data
                    this.dialogFormVisible = true
                })
            },
            handleChange(val) {
                console.log(val);
            },
            comment() {
                if (!this.commentContent) {
                    this.$notify({
                        title: '알림',
                        message: '댓글 내용이 비우면 안됩니다.',
                        type: 'warning'
                    });
                    return
                }
                let comment = {}
                comment.articleId = this.articleId
                comment.parentId = 0
                comment.content = this.commentContent
                comment.priv = this.priv
                axios.post('/comment', comment, {
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': this.token
                    }
                }).then(res => {
                    this.$notify({
                        title: '알림',
                        message: '댓글 성공',
                        type: 'success'
                    });
                    this.commentContent = ""
                    this.getComment()
                })
            },
            getPrivileges() {
                let uri = window.location.pathname
                let privilegesData = localStorage.getItem("privilegesMap")
                let allPrivileges = JSON.parse(privilegesData) || []
                let split = uri.split("_")
                let newUri = split[0] + "_" + split[1]
                for (let allPrivilegesKey in allPrivileges) {
                    if (allPrivilegesKey.indexOf(newUri) !== -1) {
                        let privileges = allPrivileges[allPrivilegesKey]
                        privileges.forEach((item, index) => {
                            this.privileges.push(item.name)
                        })
                    }
                }
            },
            hasPrivilege(name) {
                let privileges = name.split("_")
                let privilege = privileges[privileges.length - 1]
                if (this.privileges) {
                    for (let i = 0; i < this.privileges.length; i++) {
                        let item = this.privileges[i]
                        if (item.indexOf(privilege) !== -1) {
                            return true
                        }
                    }
                }
                return false
            },
            goCreate() {
                localStorage.removeItem('sub02_04_write')
                window.location = '/front/portal/sub02_04_write'
            },
            goDel() {
                axios.delete('/portal/article', {
                    params: {
                        ids: this.articleId
                    }, headers: {
                        'Authorization': this.token
                    }
                }).then(res => {
                    this.$notify({
                        title: '알림',
                        message: '삭제 성공',
                        type: 'success'
                    });
                    window.location = "/front/portal/sub02_04_list"
                })
            },
            goEdit() {
                localStorage.setItem('sub02_04_write', this.articleId)
                window.location = '/front/portal/sub02_04_write'
            },
            getArticle() {
                axios.get('/portal/article/' + this.articleId, {
                    headers: {
                        'Authorization': this.token
                    }
                }).then(res => {
                    console.log(res)
                    this.articleData = res.data.data
                    this.articleData.attaches = this.articleData.attaches.map(el=>{
                        el.size = this.change(el.size)
                        return el
                    })
                    this.content = unescape(this.articleData.content)
                })
            },
            getComment() {
                axios.get('/comment/getByArticle', {
                    params: {
                        current: 1,
                        size: 100,
                        articleId: this.articleId
                    },
                    headers: {
                        'Authorization': this.token
                    }
                }).then(res => {
                    console.log(res)
                    let results = res.data.data
                    this.comments = results.records
                })
            }
        },
        mounted() {
            this.articleId = localStorage.getItem('sub02_04_view')
            this.getPrivileges()
            this.getArticle()
            this.getComment()
        },
        created() {
            let loginUserStr = localStorage.getItem('login_user')
            if (loginUserStr) {
                let loginUser = JSON.parse(loginUserStr)
                this.token = loginUser.data.token || ''
            }
        },
        watch: {}
    })
</script>