<body>
<div class="wrapper">
    <!-- :: header s :: -->
    <head th:replace="include/header :: common_head(~{::title},~{::link},~{})">
        <title></title>
    </head>
</div>
<section class="container">
    <div class="sub-top bg1">
        <div class="sub-top-con">
            <h2>이용약관</h2>
        </div>
    </div>
    <nav class="breadcrumb">
        <div class="breadcrumb-container">
            <ul class="breadcrumb-list">
                <li class="home"><span class="screen-out">홈</span></li>
                <li>
                    <div class="breadcrumb-box js-dropdown">
                        <button type="button" class="breadcrumb-btn js-dropdown-btn" data-dropdown="breadcrumb-dep1">
                            <span>구단소개</span>
                        </button>
                        <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep1">
                            <ul class="breadcrumb-cont-list">
                                <li><a href="/front/portal/sub01_01">구단소개</a></li>
                                <li><a href="/front/portal/sub02_01_list">구단소식</a></li>
                                <li><a href="/front/portal/sub03_01">선수단</a></li>
                                <li><a href="/front/portal/sub04_01">경기정보</a></li>
                                <li><a href="/front/portal/sub05_01_list">팬</a></li>
                                <li><a href="/front/portal/sub06_01">유소년</a></li>
                                <li><a href="/front/portal/sub07_01">사회적협동조합</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="breadcrumb-box js-dropdown">
                        <button type="button" class="breadcrumb-btn js-dropdown-btn" data-dropdown="breadcrumb-dep2">
                            <span>이용약관</span>
                        </button>
                        <div class="breadcrumb-cont js-dropdown-cont" data-dropdown="breadcrumb-dep2">
                            <ul class="breadcrumb-cont-list">
                                <li><a href="/front/portal/privacy">개인정보처리방침</a></li>
                                <li><a href="/front/portal/terms">이용약관</a></li>
                                <li><a href="/front/portal/emailcollection">이메일무단수집거부</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</section>
<div id="sub_contents">
    <div class="wrap">
        <div id="contents_area">
            <h2 class="container_title">이용약관</h2>

            <div id="ctt_con" class="sub01_01">
                <div>
                    <form id="fregister2">
                        <h2>제1장 총 칙</h2>
                        <p style="margin-top:10px;">
                            <span>제1조(목적)</span><br>
                            춘천시민축구단 웹사이트에 게시된 이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며, 이를 위반시 정보통신망법에
                            의해 형사처벌됨을 유념하시기 바랍니다.<br><br>

                            <span>제2조(정의)</span><br>

                            이 약관에서 사용하는 용어의 정의는 다음 각호와 같습니다.<br>
                            1. 회원 : 이용자 아이디(ID)를 부여받은 자<br>
                            2. ID : 이용자가 신청하여 구단이 승인하는 문자 또는 숫자의 고유 조합<br>
                            3. 비밀번호 : 계정보호를 위해 회원 자신이 설정한 문자, 숫자의 조합<br><br>

                            <span>제3조(효력의 발생과 변경)</span><br>

                            ① 이 약관의 내용은 구단의 홈페이지 화면에 게시하거나 기타의 방법으로 공지함으로써 효력이 발생됩니다.<br>
                            ② 구단은 이 약관을 변경할 수 있으며, 변경된 약관은 이용자에게 공지함으로써 효력이 발생됩니다.<br><br>

                            <span>제4조(준용규정)</span><br>

                            이 약관에 명시되지 않은 사항은 개인정보 보호법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 통신비밀보호법, 전기통신 기본법 등 기타 관련법령의 규정에
                            따릅니다.
                        </p>

                        <div style="margin-top:20px;"></div>
                        <h2>제2장 홈페이지 회원제 서비스 이용계약</h2>
                        <p style="margin-top:10px;">
                            <span>제5조(이용계약의 성립)</span><br>

                            구단 홈페이지 회원제 서비스 이용계약(회원가입)은 이용자의 이용신청(회원가입 신청)에 대한 구단의 승낙과 이용자의 약관 내용에 대한 동의로 성립됩니다.<br><br>

                            <span>제6조(이용신청)</span><br>

                            이용신청은 이용자가 직접 구단 홈페이지를 통하여 구단에서 정한 가입신청서에 기록하여 신청할 수 있습니다. 단, 만 14세 미만인 이용자는 홈페이지 회원제 서비스
                            이용신청이 불가합니다.<br><br>

                            <span>제7조(이용신청의 승낙)</span><br>

                            ① 구단은 이용자가 홈페이지 이용 신청서에 다음 필수입력 사항을 정확히 기재하여 이용신청을 하였을 경우에 승낙합니다.<br>
                            1) 이름(성명)<br>
                            2) 아이디(ID)<br>
                            3) 비밀번호(password)<br>
                            4) 우편번호<br>
                            5) 주소<br>
                            6) 휴대전화번호<br>
                            7) 이메일<br>
                            ② 구단은 다음 각호의 1에 해당하는 경우에는 이용 승낙을 하지 않을 수 있습니다.<br>
                            1. 이용신청의 내용을 허위로 기재한 경우<br>
                            2. 다른 사람의 명의를 사용하여 신청한 경우<br>
                            3. 필수 요건에 미비 되었을 때<br>
                            4. 만 14세 미만인 이용자가 이용신청한 경우<br><br>

                            <span>제8조(계약사항의 변경)</span><br>

                            회원은 이용신청 시 기재한 사항이 변경되었을 경우에는 직접 구단 홈페이지를 통하여 수정 요청을 할 수 있습니다.
                        </p>


                        <div style="margin-top:20px;"></div>
                        <h2>제3장 계약당사자의 의무</h2>
                        <p style="margin-top:10px;">
                            <span>제9조(구단의 의무)</span><br>

                            구단은 홈페이지 회원제 서비스 제공과 관련하여 알게 된 회원의 신상 정보를 본인의 승낙 없이 제3자에게 누설하거나 제공하거나 배포하지 않습니다. 단, 전기통신기본법
                            등 법률의 규정에 의해 국가기관의 요구가 있는 경우, 범죄에 대한 수사상의 목적이 있거나 또는 기타 관계법령에서 정한 절차에 의한 요청이 있을 경우에는 그러하지
                            않습니다.<br><br>

                            <span>제10조(회원의 의무)</span><br>

                            ① 회원은 회원가입 시 실명확인에 필요한 일정한 정보의 제공과 활용에 동의하여야 하며 서비스 이용 시 아래 각호의 행위를 할 수 없습니다.<br>
                            1. 다른 회원의 ID를 부정하게 사용하는 행위<br>
                            2. 서비스에서 얻은 정보를 복제, 출판 또는 제3자에게 제공하는 행위<br>
                            3. 구단의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 행위<br>
                            4. 공공질서 및 미풍양속에 위반되는 내용을 유포하는 행위<br>
                            5. 범죄와 결부된다고 객관적으로 판단되는 행위<br>
                            6. 기타 관계법령에 위반되는 행위<br>
                            ② 회원은 서비스를 이용하여 영업활동을 할 수 없으며, 영업활동에 이용하여 발생한 결과에 대하여 구단은 책임을 지지 않습니다.<br>
                            ③ 회원은 서비스의 이용권한, 기타 이용계약상 지위를 타인에게 양도하거나 증여할 수 없으며, 이를 담보로도 제공할 수 없습니다.<br>
                        </p>


                        <div style="margin-top:20px;"></div>
                        <h2>제4장 서비스 이용</h2>
                        <p style="margin-top:10px;">
                            <span>제11조(회원의 게시물 관리 및 삭제)</span><br>

                            구단은 원활한 홈페이지 운영을 위하여 다음 각호의 1에 해당하는 회원의 게시물에 대해서는 사전 통지 없이 삭제할 수 있습니다.<br>
                            1. 국가안전이나 보안에 위배되는 경우<br>
                            2. 특정기관, 단체, 부서를 근거없이 비난하는 경우<br>
                            3. 구단 구성원(선수단, 코칭스태프 등)을 포함한 특정인을 비방하거나 명예훼손의 우려가 있는 경우<br>
                            4. 영리목적의 상업성 광고, 저작권을 침해할 수 있는 내용<br>
                            5. 욕설, 음란물 등 불건전한 내용<br>
                            6. 똑같은 내용을 주 2회 이상 게시하거나 비슷한 내용을 1일 2회 이상 게시하는 경우<br>
                            7. 기타 연습성, 오류, 장난성의 내용 등<br><br>

                            <span>제12조(홈페이지 내 콘텐츠의 저작권)</span><br>

                            회원 본인이 게재한 게시물을 제외한 구단 홈페이지 내 모든 콘텐츠의 저작권은 구단에 있으며 회원은 이를 구단의 사전 승낙 없이 가공, 변조, 판매하는 등의 행위를 할
                            수 없습니다.<br><br>

                            <span>제13조(서비스 이용시간)</span><br>

                            홈페이지 서비스의 이용은 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴 1일 24시간을 원칙으로 합니다. 다만 정기 점검 등의 사유 발생 시는 그러하지
                            않습니다.<br><br>

                            <span>제14조(서비스 이용 책임)</span><br>

                            구단 홈페이지 서비스 이용 및 이용의 결과와 관련하여 구단에 책임을 돌릴 정당한 사유가 없는 한 모든 법적 책임은 회원 본인에게 있습니다.<br><br>

                            <span>제15조(서비스 제공의 중지)</span><br>

                            다음 각호의 1에 해당하는 경우에는 서비스 제공을 중지할 수 있습니다.<br>
                            1. 서비스용 설비의 보수 등 공사로 인한 부득이한 경우<br>
                            2. 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우<br>
                            3. 시스템 점검이 필요한 경우<br>
                            4. 기타 불가항력적 사유가 있는 경우<br><br>

                            <span>제16조 (개인정보 수집·이용 및 처리위탁에 대한 동의)</span><br>

                            ① 회원의 개인정보는 법률에 의해 보호됩니다.<br>
                            ② 회원이 본 약관에 따라 이용신청(회원가입 신청)을 하는 것은 개인정보의 수집·이용과 개인정보 처리위탁에 동의하는 것으로 간주됩니다.<br>
                        </p>


                        <div style="margin-top:20px;"></div>
                        <h2>제5장 계약 해지 및 이용제한</h2>
                        <p style="margin-top:10px;">
                            <span>제17조(계약해지 및 이용제한)</span><br>

                            ① 회원이 이용계약을 해지하고자 하는 때에는 회원 본인이 직접 구단 홈페이지를 통하여 해지신청(회원탈퇴)을 하여야 하며, 구단에서는 본인여부를 확인 후
                            조치합니다.<br>
                            ② 구단은 회원이 다음 각호의 1에 해당하는 행위를 하였을 경우 사전 통지없이 이용계약을 해지(강제탈퇴 처리)하거나 또는 회원의 서비스 이용을 중지할 수
                            있습니다.<br>
                            1. 타인의 이용자 ID 및 비밀번호를 도용한 경우<br>
                            2. 서비스 운영을 고의로 방해한 경우<br>
                            3. 허위로 가입 신청을 한 경우<br>
                            4. 공공질서 및 미풍양속에 저해되는 내용을 유포시킨 경우<br>
                            5. 타인의 명예를 손상시키거나 불이익을 주는 행위를 한 경우<br>
                            6. 구단 또는 다른 회원이나 제3자의 지적재산권을 침해하는 경우<br>
                            7. 게시판 등에 음란물을 게재하거나 음란 사이트를 링크하는 경우<br>
                            8. 기타 관련법령에 위반된다고 판단되는 경우
                        </p>

                        <div style="margin-top:20px;"></div>
                        <h2>제6장 면 책</h2>
                        <p style="margin-top:10px;">
                            <span>제18조(면책 조항)</span><br>

                            ① 구단은 회원이 서비스를 이용하여 얻은 정보 및 자료 등에 대하여 책임을 지지 않습니다.<br>
                            ② 구단은 회원이 게재한 정보, 자료, 사실의 신뢰도, 정확성 등 기타 어떠한 내용에 관하여서도 책임을 지지 않습니다. ③ 구단은 회원의 불법행위로 인하여 초래된
                            결과에 대하여 일절 책임을 지지 않습니다.<br><br>

                            <span>제19조(재판 관할)</span><br>

                            서비스 이용으로 발생한 분쟁에 대해 소송이 제기될 경우, 구단은 구단 소재지를 관할하는 법원을 전속 관할법원으로 합니다.<br><br>

                            <span>제20조 (기타조항)</span><br>

                            구단은 회원이 제기하는 정당한 의견이나 불만을 반영하고, 그 문제를 해결하기 위해 노력합니다. 구단은 회원으로부터 제기되는 불만사항 및 의견을 우선적으로 처리하기
                            위해 노력하며, 처리가 지연될 경우 그 사유와 처리 기간을 통보합니다.
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="include/footer::footer"></div>
</body>
