<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ccfc.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="kr.ccfc.domain.SysRole">
        <!--@mbg.generated-->
        <!--@Table sys_role-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="ranks" jdbcType="INTEGER" property="ranks"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="modify_by" jdbcType="BIGINT" property="modifyBy"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
        <result column="privilege_id" jdbcType="BIGINT" property="privilegeId"/>
        <result column="privilege_name" jdbcType="VARCHAR" property="privilegeName"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, code, ranks, description, create_by, modify_by, `status`, created, last_update_time
    </sql>

    <select id="findByUserId" resultMap="BaseResultMap">
        select *
        from sys_role
                     left join sys_user_role on sys_role.id = sys_user_role.role_id
        where sys_user_role.user_id = #{0}
    </select>

    <select id="queryRoleByUserId" resultMap="BaseResultMap">
        SELECT sr.*
        FROM sys_role sr
                     INNER JOIN sys_user_role sur ON sr.id = sur.role_id
        WHERE sur.user_id = #{param1}
    </select>

    <select id="queryMaxRanks" resultType="java.lang.Integer">
        select max(ranks)
        from sys_role
        where id > 0
    </select>

    <select id="queryByMenuId" resultMap="BaseResultMap">
        select sys_role.*, sys_privilege.id privilege_id, sys_privilege.name privilege_name
        from sys_role
                     left join sys_role_privilege on sys_role.id = sys_role_privilege.role_id
                     left join sys_privilege on sys_role_privilege.privilege_id = sys_privilege.id
        where sys_privilege.menu_id = #{param1}
    </select>
</mapper>
