<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ccfc.mapper.SysUserStatisMapper">
    <resultMap id="BaseResultMap" type="kr.ccfc.domain.SysUserStatis">
        <!--@mbg.generated-->
        <!--@Table sys_user_statis-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="browser" jdbcType="VARCHAR" property="browser"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="engine" jdbcType="VARCHAR" property="engine"/>
        <result column="engine_version" jdbcType="VARCHAR" property="engineVersion"/>
        <result column="os" jdbcType="VARCHAR" property="os"/>
        <result column="remote_host" jdbcType="VARCHAR" property="remoteHost"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="plat_form" jdbcType="VARCHAR" property="platForm"/>
        <result column="device" jdbcType="VARCHAR" property="device"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, browser, version, engine, engine_version, os, remote_host, url, plat_form, device,
        user_id, created, last_update_time
    </sql>

    <select id="statisToCharts" resultType="kr.ccfc.domain.SysUserStatis">
        SELECT count(1) as `count`, DATE_FORMAT(last_update_time, '%Y-%m-%d') last_update_time
        FROM sys_user_statis
        WHERE last_update_time <![CDATA[ >= ]]> #{param1}
          AND last_update_time <![CDATA[ <= ]]> #{param2}
        GROUP BY DATE_FORMAT(last_update_time, '%Y-%m-%d')
    </select>
</mapper>
