<div id="wrapper">
    <div style="height:40px;"></div>

    <div id="container" class="">
        <head th:replace="admin/include/header::admin_header"></head>

        <div class="container_wr" id="menu2_1">
            <h1 id="container_title">
                <p style="font-size:14px;color:#333333;"><i class="fa fa-home" aria-hidden="true"></i> > 게시판관리</p>
                게시판관리
            </h1>

            <div class="btn_fixed_top">
                <input type="button" @click="delById" value="선택삭제" class="btn btn_02">
            </div>
            <section style="margin-top:40px;">

                <h2>게시판 리스트</h2>
                <div class="tbl_head01 tbl_wrap">
                    <table>
                        <caption>게시판리스트</caption>
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="chkall" @change="triggle"></th>
                            <th>유형</th>
                            <th>게시판 아이디</th>
                            <th>분류</th>
                            <th>게시판명</th>
                            <th>새글/전체글</th>
                            <th>표시여부</th>
                            <th>권한</th>
                            <th>관리</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item,index) in menuList">
                            <td><input type="checkbox" name="menucheckbox" :value="item.id"></td>
                            <td>일반</td>
                            <td>
                                <a :href="item.targetUrl" target="_blank"
                                   style="font-weight:bold;">{{item.id}}</a>
                            </td>
                            <td>{{item.parentMenu.name}}</td>
                            <td>
                                <a :href="item.targetUrl" target="_blank" style="font-weight:bold;">{{item.name}}</a>
                            </td>
                            <td>{{item.newArticle}}/{{item.articleCount}}</td>
                            <td>
                                <input type="radio" checked="checked" :name="item.id" :value="1" v-model="item.status">표시
                                <input type="radio" :name="item.id" :value="0" v-model="item.status">표시 안함
                                <a @click="changeStatus(item.id,item.status)" class="btn btn_04">저장</a>
                            </td>
                            <td>관리자</td>
                            <td>
                                <a @click="goEdit(item.id)" class="btn btn_03">수정</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div th:replace="admin/include/footer::footer"></div>
    </div>

    <script>
        new Vue({
            el: "#menu2_1",
            data: {
                menuList: []
            },
            methods: {
                delById() {
                    let inputs = document.getElementsByName("menucheckbox");
                    let ids = []
                    for (let i = 0; i < inputs.length; i++) {
                        if (inputs[i].checked) {
                            ids.push(inputs[i].value)
                        }
                    }
                    let idsJoin = ids.join(",")
                    if (!idsJoin) {
                        this.$notify({
                            title: '알림',
                            message: '삭제할 내용을 선택하세요',
                            type: 'warning'
                        });
                        return
                    }
                    axios.delete('/menu', {
                        params: {
                            ids: idsJoin
                        }, headers: {
                            'Authorization': this.token
                        }
                    }).then(res => {
                        this.$notify({
                            title: '알림',
                            message: '삭제 성공',
                            type: 'success'
                        });
                        this.getMenuList()
                        window.location.reload()
                    })
                },
                triggle() {
                    let allcheck = document.getElementById("chkall")
                    let inputs = document.getElementsByName("menucheckbox");
                    for (let i = 0; i < inputs.length; i++) {
                        inputs[i].checked = allcheck.checked;
                    }
                },
                changeStatus(id, status) {
                    axios.patch('/menu/status', {id: id, status: status}, {
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': this.token
                        }
                    }).then(res => {
                        let data = res.data
                        console.log('status', data)
                        this.$notify({
                            title: '알림',
                            message: data.data,
                            type: 'success'
                        });
                        this.getMenuList()
                    })
                },
                goCreate() {
                    localStorage.removeItem('menu2_1_1')
                    window.location = "/front/admin/menu2_1_1"
                },
                goEdit(id) {
                    localStorage.setItem('menu2_1_1', id)
                    window.location = "/front/admin/menu2_1_1"
                },
                getMenuList() {
                    axios.get('/menu/childmenus', {
                        params: {
                            current: 1,
                            size: 100,
                        },
                        headers: {
                            'Authorization': this.token
                        }
                    }).then(res => {
                        this.menuList = res.data.records
                        console.log('menuList', this.menuList)
                    })
                }
            },
            mounted() {
                this.getMenuList()
            }, created() {
                let loginAdminStr = localStorage.getItem('login_user')
                if (loginAdminStr) {
                    let loginAdmin = JSON.parse(loginAdminStr)
                    this.token = loginAdmin.data.token || ''
                } else {
                    window.location = "/front/admin/login"
                }
            }, watch: {}
        })
    </script>

</div>

<script>
    $(".scroll_top").click(function () {
        $("body,html").animate({scrollTop: 0}, 400);
    })
</script>
</body>
</html>
